<app-navbar></app-navbar>
<div class="content-wrapper pt-0 pl-3">

  <div class="row d-flex" data-ng-controller="withdrawCtrl" data-ng-init="loginDuration();">
    <div class="col-xl-7 col-lg-6 col-12 pr-lg-0 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100"> <span class="font-md text-white mr-2">Withdraw Funds</span>
        <div class="w-100"></div>
        <!-- <form autocomplete="off"> -->
        <div class="form-row mt-2">
          <div class="col-12 col-md-4 text-left">
            <label for="staticPrice" class="col-form-label">Current {{data.CURRENCYNAME}} Balance</label>
          </div>
          <div class="col-12 col-md-8">
              <span class="font-lg text-green">
                  $ <ng2-odometer [number]="main.fiatBalance" [config]="{ format: '(,ddd).dddd' }"></ng2-odometer>
                </span>
          </div>
        </div>
        <div class="form-row mt-2">
          <div class="col-12 col-md-4 text-left">
            <label for="inputSellBTC" class="col-form-label">Enter Withdrawal Amount</label>
          </div>
          <div class="col-12 col-md-8">
            <div class="input-group mb-2">
              <input type="number" class="form-control rounded only_amount" id="withdraw_fund_amount" [(ngModel)]="withdraw_fund_amount"
                placeholder="0.00" #am="ngModel" required [class.is-invalid]="withdraw_fund_amount<500||withdraw_fund_amount>25000">
              <div class="input-group-append">
                <div class="input-group-text bg-transparent border-0 text-white">{{data.CURRENCYNAME}}</div>
              </div>
            </div>
            <small>{{withdrawDisclaimer}}</small>
          </div>
        </div>
        <div class="form-row mt-2 mb-2">
          <div class="col-12 col-md-8 offset-md-4">
            <button type="submit" class="btn btn-green" id="wfn" [disabled]="am.invalid||withdraw_fund_amount<500||withdraw_fund_amount>25000" (click)="determineLockStatusForWithdraw()">WITHDRAW</button>
          </div>
        </div>
        <div class="form-row mt-2 mb-2">
          <div class="col-12 col-md-8 offset-md-4">
            <!--<div class="small"><span class="text-white">*</span> Transaction Charge will be credited within 5 Bank working days</div>-->
            <div class="small"><span class="text-white">*</span> {{withdrawTxnChargeDisclaimer}}</div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>
    <div class="col-xl-5 col-lg-6 col-12 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100"> <span class="font-md text-white mr-2">Customer Bank Details</span>
        <div><span class="text-white">*</span> Withdrawal will credited to the below account</div>
        <div class="w-100 mt-2"></div>
        <ul class="list-group mb-2">
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Account Holder:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{beneficiaryName}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Bank Account No:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{accountNo}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Routing No.:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{routingNo}}</span></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="d-flex">
              <div class="mr-auto text-dark">Bank Name:</div>
              <div><span class="text-blue font-weight-bold font-sm">{{bankName}}</span></div>
            </div>
          </li>
          <!--<li class="list-group-item">
                        <div class="d-flex">
                          <div class="mr-auto text-dark">Branch Name:</div>
                          <div><span class="text-white font-weight-bold font-sm">{{bankAddress}}</span></div>
                        </div>
                      </li>-->
        </ul>
      </div>
    </div>

    <!-- OTP Modal-->
    <div class="modal fade" id="otpModal" tabindex="-1" role="dialog" aria-labelledby="receiveModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-blue" id="receiveModalLabel">OTP</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form autocomplete="off">
              <div class="form-row text-center">


                <div class="col-12">
                  <input type="password" class="form-control" id="withdrawOtp" [(ngModel)]="withdrawOtp" name="withdrawOtp">
                  <a href="javascript:void(0);" (click)="resendOtpForOutgoing()" class="float-right">Resend OTP</a>
                </div>


                <div class="col-12 generate_address_btn mt-5">
                  <button type="submit" class="btn btn-green send_btn" style="display:none;" (click)="withdrawFund()">WITHDRAW</button>
                  <button type="submit" class="btn btn-green get_Otp_btn" (click)="resendOtpForOutgoing()">GET OTP</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
