<div [ngResizable]="data.resize" class="bg-dark p-2 pl-3 pr-3 rounded h-35 resizable-widget">
  <!-- <button (click)="tradePageSetup()" class="rl d-none">reset</button> -->
  <!-- <ul class="nav nav-tabs font-md border-bottom-0" id="trades-details-table" role="tablist">
              <li class="nav-item">
                <a class="nav-link pb-3 pl-1 pr-1 active" id="orderbook-tab" data-toggle="tab" href="#orderbook" role="tab" aria-controls="orderbook" aria-selected="true">Order Book</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link pb-3 pl-1 pr-1 active" id="orderbook-tab" data-toggle="tab" href="#orderbook" role="tab" aria-controls="orderbook" aria-selected="true">Market Trades</a>
                </li>
            </ul> -->

  <div class="tab-pane fade show active" id="orderbook" role="tabpanel" aria-labelledby="orderbook-tab">
    <div class="row" >
      <!-- <div class="tab-content col-md-6" id="trade-details-tableContent" style="max-height: 250px; overflow-y: scroll; overflow-x: hidden;"> -->
        <div class="col-md-6 border-col" >
          <div class="table-responsive tabe-responsive_left_sell">
            <table class="table table-sm table-hover mb-4">
                <thead>
                  <tr class="bg-black text-blue">
                    <th scope="col">Amount</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                   </tr>
                </thead>
                <tbody id="orderbookAskBody" [innerHTML]="askBody"></tbody>
              </table>
        </div>
          <div class="sp-highlow"><ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer><small class="font-sm ml-2" style="font-size:2px" id="pricegreen" style="display: none" ><i class="fa fa-arrow-up text-green" style="font-size:12px" >{{highprice}} </i>
                   </small>
                   <small class="font-sm ml-2" style="font-size:2px" id="pricered" style="display: none" ><i class="fa fa-arrow-down text-red" style="font-size:12px">{{lowprice}} </i>
                   </small>
          </div>
          <div class="table-responsive tabe-responsive_left_buy">

            <table class="table table-sm table-hover cust">
                <thead>
                  <tr class="">

                  </tr>
                </thead>
                <tbody id="orderbookBidBody" [innerHTML]="bidBody">
                </tbody>
              </table>
        </div>

        </div>
      <!-- <div class = "vertical"></div>  -->
      <div class="col-md-6" id="trade-details-tableContent" >
          <div class="table-responsive tabe-responsive_right">
              <table class="table table-sm table-hover cust">
                  <thead>
                    <tr class="bg-black text-blue">
                      <th scope="col"> Time</th>
                      <th scope="col">Amount</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody id="marketTradeBody" [innerHTML]="marketTradeBodyHtml">
                  </tbody>
                </table>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 mt-2"></div>

<!--order book end-->