
.resizable-widget[_ngcontent-c6][_ngcontent-c6] {
    min-height: 310px !important;
}
.nav-tabs .nav-item {
    margin-right: 103px;
}

.vl {
    border-left:2px solid rgb(193, 204, 193);
    height:100%;
  }
  .pb-3, .py-3 {
    padding-bottom: 0rem !important;
}
.resizable-widget[_ngcontent-c6] {
    /* min-height: 300px !important; */
    font-size: 12px!important;
}

.nav-tabs[_ngcontent-c6][_ngcontent-c6] .nav-item[_ngcontent-c6][_ngcontent-c6] {
    margin-right: 102px;
}
.text-blue {
   
    text-align: center;
}

.cust thead tr th:nth-child(1), .cust tbody tr td:nth-child(1), #marketTradeBody  tr td:nth-child(1){
    text-align: left;
}

.cust thead tr th:nth-child(2), .cust tbody tr td:nth-child(2) {
    text-align: right;
}

.cust thead tr th:nth-child(3), .cust tbody tr td:nth-child(3) {
    text-align: right;
}

td.text-white{background:transparent;}


.resizable-widget[_ngcontent-c6][_ngcontent-c6] {
    /* font-size: 12px!important; */
    text-align: right;
}

.border-col{
    border-right:2px  solid rgb(8, 56, 2) ; 
}
 
  .resizable-widget {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border:1px solid #a5a5a5;
    min-height: 286px !important;
} 
.tab-pane {
    padding-top: 0px;
    padding-bottom: 0px !important;
}

.sp-highlow {
    font-size: 15px;
    text-align: center;
    margin-top: 5px; 
    position: relative;
    top: -9px;
    background: #273338;
    padding: 5px 2px;
    border-radius: 2px;
}
.sp-highlow small.font-sm.ml-3 {
    display: block;
    width: 100%;
    margin: 0 !important;
}
/* .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;} */
    .tabe-responsive_right{
        height:328px;
        overflow-y:scroll;
     
    }