<div [ngResizable]="data.resize" class="bg-dark p-2 rounded h-100" id="chartHolder">
  <div>
    <div class="row no-gutters coin-selector">
      <div class="col-12 col-sm-12 col-md-5">
        <div ngbDropdown class="">
          <div *ngIf="currency_code !='BCC'">
            <button ngbDropdownToggle type="button" (click)="getNewCurrency()" class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black text-left select-coin-dropdown-toggle"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{this.currency_code}} - {{ this.base_currency}}
          </button>
        </div>
        <div *ngIf="currency_code=='BCC'">
          <button ngbDropdownToggle type="button" (click)="getNewCurrency()" class="dropdown-chart btn btn-ex-sm dropdown-toggle btn-block bg-black text-left select-coin-dropdown-toggle"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         BCH - {{ this.base_currency}}
        </button>
      </div>
        <div ngbDropdownMenu   class="dropdown-menu select-coin-list" id="dropHolder" style="width:239%">
          <div class="table coin-select">
            <!-- <tr  > -->
              <th *ngFor="let count of filterCurrency">
              <!-- <p ><img  src="{{'../../assets/img/currency/'+ count.name+'.svg'}}" width="24" alt="" /></p> -->
              <p *ngIf="count.isBaseCurrency" class="namecolor"><img  src="{{'../../assets/img/currency/'+ count.baseCurrency+'.svg'}}" width="22" alt="" /> &nbsp;{{count.baseCurrency}}</p>
                <div *ngFor="let item of count.currencyMasterList" class="" (mouseover)="item.hover=true" (mouseleave)="item.hover=false">
                    <div *ngIf="item.currency!='BCC'">
                  <p [ngStyle]="{backgroundColor: item.hover==true  ? '#40AE82' : '' }" (click)="buySellCode(item)"><img  src="{{'../../assets/img/currency/'+ item.currency+'.svg'}}" width="22" alt="" />{{item.currency|uppercase}}/{{item.baseCurrency|uppercase}}</p>
                 </div>
               <div *ngIf="item.currency=='BCC'">
                  <p  [ngStyle]="{backgroundColor: item.hover==true  ? '#40AE82' : '' }" (click)="buySellCode(item)"><img  src="{{'../../assets/img/currency/'+ 'BCH'+'.svg'}}" width="22" alt="" />BCH/{{item.baseCurrency|uppercase}}</p>
               </div>
                </div>

                </th>
              <!-- </tr> -->
              </div>
       </div>
          <!-- <div ngbDropdownMenu class="dropdown-menu select-coin-list" id="dropHolder" style="width:239%">
            <table class="table coin-select ">
              <tr>
                <th> <img src="./assets/img/currency/USD.svg" width="24" alt=""> USD</th>

                <th> <img src="./assets/img/currency/BTC.svg" width="24" alt=""> BTC</th>
                <th> <img src="./assets/img/currency/ETH.svg" width="24" alt=""> ETH</th>
              </tr>
              <tr>
                  <td>
                      <a *ngFor="let c of currencyListUsd" class="dropdown-item {{c.buyCode|uppercase}}-coin-select select-coin "
                        (click)="buySellAssetCode(c.buyCode,c.sellCode)">{{c.buyCode|uppercase}}/{{c.sellCode|uppercase}}
                      </a>
                    </td>

                <td>
                  <a *ngFor="let c of currencyListBtc" class="dropdown-item {{c.buyCode|uppercase}}-coin-select select-coin "
                    (click)="buySellAssetCode(c.buyCode,c.sellCode)">{{c.buyCode|uppercase}}/{{c.sellCode|uppercase}}
                  </a>
                </td>
                <td>
                  <a *ngFor="let c of currencyListEth" class="dropdown-item {{c.buyCode|uppercase}}-coin-select select-coin "
                    (click)="buySellAssetCode(c.buyCode,c.sellCode)">{{c.buyCode|uppercase}}/{{c.sellCode|uppercase}}
                  </a>
                </td>
              </tr>
            </table>
          </div> -->
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-7 font-sm p-1" *ngIf="tools">
        <div ngbDropdown placement="bottom-right" class="dropdown float-right">
          <!-- new controls -->
          <div class="btn-group " role="group" aria-label="...">
              <button class="btn btn-primary btn-ex-sm selected charts-tab" id="1d" (click)="graphData(indicatorStatus,indicatorName,'m','1d')">Day</button>
              <button class="btn btn-primary btn-ex-sm selected charts-tab" id="1w" (click)="graphData(indicatorStatus,indicatorName,'d','1w')">Week</button>
              <button class="btn btn-primary btn-ex-sm selected active charts-tab" id="1m" (click)="graphData(indicatorStatus,indicatorName,'d','1m')">Month</button>
              <button class="btn btn-primary btn-ex-sm selected charts-tab" id="3m" (click)="graphData(indicatorStatus,indicatorName,'d','3m')">3M</button>
              <button class="btn btn-primary btn-ex-sm selected charts-tab" id="6m" (click)="graphData(indicatorStatus,indicatorName,'d','6m')">6M</button>
              <button class="btn btn-primary btn-ex-sm selected charts-tab" id="12m" (click)="graphData(indicatorStatus,indicatorName,'d','12m')">Year</button>
            </div>

          <button ngbDropdownToggle class="btn btn-secondary btn-ex-sm dropdown-toggle ml-1" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Indicator
          </button>
          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right ind" aria-labelledby="dropdownMenuButton">
            <table>
              <tr style="vertical-align:top !important">
                <td>
                  <a class="dropdown-item" *ngFor="let i of indicatorGroup1" (click)="graphData(1,i,cartD,dateD)" href="javascript:void(0)">{{i}}</a>
                </td>
                <td>
                  <a class="dropdown-item" *ngFor="let i of indicatorGroup2" (click)="graphData(1,i,cartD,dateD)" href="javascript:void(0)">{{i}}</a>
                </td>
              </tr>
            </table>
          </div>

          <span *ngIf="selected" class="indN">
            <span class="btn btn-ex-sm selected">
              <!-- {{selected}} -->
              {{selected}}
            </span>
            <span class="btn btn-ex-sm selected clSelected" (click)="destroy()">X</span>
          </span>

        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 font-sm text-green" *ngIf="tools" style="border: 0px solid red; height:30px;">
        <div *ngIf="selectedBuyingAssetText !='BCC'">
          <span class="float-left mt-2 pl-2" style="font-size:13px;">1 {{selectedBuyingAssetText | uppercase}} = {{cur}}
          <span  style="color:red;" else style="color:rgb(4, 146, 28);" ><ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer></span>
          <small class="font-sm ml-3" style="font-size: 13px;"><i class="fa fa-arrow-up text-green"></i>
            {{highprice}} <i class="fa fa-arrow-down text-red"></i><span style="color:red">&nbsp;{{lowprice}}</span>
            </small></span>
          </div>

          <div *ngIf="selectedBuyingAssetText =='BCC'">
              <span class="float-left mt-2 pl-2" style="font-size:13px;">1 BCH = {{cur}}
              <span  style="color:red;" else style="color:rgb(4, 146, 28);" ><ng2-odometer [number]="ctpdata" [config]="{ format: '(,ddd).dddddd' }"></ng2-odometer></span>
              <small class="font-sm ml-3" style="font-size: 13px;"><i class="fa fa-arrow-up text-green"></i>
                {{highprice}} <i class="fa fa-arrow-down text-red"></i><span style="color:red">&nbsp;{{lowprice}}</span>
                </small></span>
              </div>
            <p style="line-height: 33px;border: 0px solid blue">
              <span style="margin-left: 2%"  style="font-size: 13px;">&nbsp; ROC % :</span>

              <small class="font-sm ml-2"     *ngIf="rocreact == true" style="color:rgb(4, 146, 28); font-size: 13px;"  >{{rocdata}}</small>
              <small class="font-sm ml-2"    *ngIf="negetive  == true" style="color:red; font-size: 13px;"  >{{rocdata}}</small>

              <!-- <small class="font-sm ml-2"   style="font-size: 13px;"  *ngIf="rocreact" style="color:red;" else style="color:rgb(4, 146, 28);" >{{rocdata}}</small> -->
              <span style="margin-left: 2%"  style="font-size: 13px;">&nbsp;&nbsp;&nbsp;24H Volume:</span>
              <small class="font-sm ml-2"   style="font-size: 13px;">&nbsp;{{volumndata}}</small>
          </p>
      </div>



    </div>

    <div class="w-100 mb-2"></div>
    <div class="float-sm-right btn-group btn-group-sm" role="group" aria-label="transaction-history">
    </div>
    <div id="chart-container" #chartContainer style="height: 360px;">
      <p class="loader" *ngIf="loader">
        <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
        <img src="./assets/svg-loaders/bars.svg" alt="" width="50">
      </p>
      <p *ngIf="errorText" class="loader">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{errorText}}
      </p>
      <iframe id="myIframe" [src]="url | safe" width="100%" height="100%" frameborder="0" *ngIf="!loader&&!errorText"></iframe>
    </div>
  </div>
</div>
<!-- </div>graph section end -->
