.anychart-credits-text{
    display: none;
}

.resizable-widget{
    min-width:654px !important;
    font-size: 1em !important;
}
/* .dropdown-chart{
    background-color: #1b2137!important;
    color: #fff !important;
} */
.btn-block{
    display: block;
    width: 100%;
    position: relative;
    top: 4px;
}