<app-navbar></app-navbar>
<!-- <div class="content-wrapper pt-0 pl-3"> -->

  <!-- <form name="form" #f="ngForm"> -->

    <!-- <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
      <div class="col-12 mt-3 align-self-stretch">
        <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
          <span class="font-md text-white mr-2">Portfolio Holding</span>

          <table class="table table-sm table-hover">
            <tr class="bg-black text-white headerp">
              <th *ngFor="let datas of header" >{{datas}}</th>
             
            </tr>
           
            <tr class="bg-black text-white" *ngFor="let output of headervalue; let i = index;">
                <td>{{output.fullName}}</td>
                <td>{{output.currencyName}}</td>
                <td>{{output.baseCurrency}}</td>
                <td>{{output.amount}}</td>
                <td>{{output.price}}</td>
                <td style="display: none">{{output.portfolioId}}</td>
                <td *ngIf="output.portfolioType=='LONG-BUY'" (click)="PmarginSell(output.currencyName,output.baseCurrency,output.amount,output.price,output.portfolioId); _StopLossComponent.reset()" ><button>SELL</button></td>
                <td *ngIf="output.portfolioType=='SHORT-SELL'" (click)="PmarginBuy(output.currencyName,output.baseCurrency,output.amount,output.price,output.portfolioId); _StopLossComponent.reset()" ><button>BUY</button></td>
              </tr>
            </table>
        </div>
      </div>
    </div> -->


    <!-- <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
      <div class="col-12 mt-3 align-self-stretch">
        <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
          <span class="font-md text-white mr-2">Margin Transtaction History</span>


          <table class="table table-sm table-hover">
            <tr class="bg-black text-white">
              <th *ngFor="let datas of transactionheader">{{datas}}</th>
            </tr>
            <tr class="bg-black text-white"
              *ngFor="let output of transactionvalue | paginate: { itemsPerPage: 25, currentPage: p }">
              <td *ngFor="let header of output">{{header}}</td>
            </tr>

            <pagination-controls (pageChange)="p = $event"></pagination-controls>

          </table>
        </div>



      </div>
    </div> -->
  <!-- </form> -->
<!-- </div> -->
<div class="col-12 mt-3">
  <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
      <!-- new -->
    <ngb-tabset justify="fill">
      <ngb-tab>
        <ng-template ngbTabTitle>
          <h5>Portfolio Holding</h5>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="tab-pane p-3 tab-1" id="margin" role="tabpanel" aria-labelledby="market-sell-tab">
              <!-- <h4>Portfolio Holding</h4> -->
              <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
                  <div class="col-12 mt-3 align-self-stretch">
                    <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
                      <!-- <span class="font-md text-white mr-2">Portfolio Holding</span> -->
            
                      <table class="table table-sm table-hover">
                        <tr class="bg-black text-white headerp">
                          <th *ngFor="let datas of header" >{{datas}}</th>
                         
                        </tr>
                       
                        <tr class="bg-black text-white" *ngFor="let output of headervalue; let i = index;">
                            <td>{{output.fullName}}</td>
                            <td>{{output.currencyName}}</td>
                            <td>{{output.baseCurrency}}</td>
                            <td>{{output.amount}}</td>
                            <td>{{output.price}}</td>
                            <td style="display: none">{{output.portfolioId}}</td>
                            <td *ngIf="output.portfolioType=='LONG-BUY'" class="tradeButton" (click)="PmarginSell(output.currencyName,output.baseCurrency,output.amount,output.price,output.portfolioId); _StopLossComponent.reset()" ><button class="btn btn-red tradeBtn" >SELL</button></td>
                            <td *ngIf="output.portfolioType=='SHORT-SELL'" class="tradeButton" (click)="PmarginBuy(output.currencyName,output.baseCurrency,output.amount,output.price,output.portfolioId); _StopLossComponent.reset()" ><button class="btn btn-green tradeBtn">BUY</button></td>
                          </tr>
                        </table>
                    </div>
                  </div>
                </div>
            <!-- <h4>Fiat: USD</h4>
            <h5>Amount: <span class="font-lg text-green">{{main.fiatBalance|currency}}</span></h5>
           
            <br><br>
            <label for="">Transfer To: </label>
            <div class="btn-group mx-3">
              <button class="btn btn-primary btn-sm"
                (click)="modalOpen(marginfiath,main.fiatBalance,'usd')">Margin</button>
              <button class="btn btn-primary btn-sm"
                (click)="modalOpen(fundingfiath,main.fiatBalance,'usd')">Funding</button>
            </div> -->
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab>
        <ng-template ngbTabTitle>
          <h5 (click)="transactionHistoryDetails()">Margin Transtaction History</h5>
        </ng-template>
        <ng-template ngbTabContent>
          <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
            <div class="col-12 mt-3 align-self-stretch">
              <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
                <!-- <span class="font-md text-white mr-2">Margin Transtaction History</span> -->
      
      
                <table class="table table-sm table-hover">
                  <tr class="bg-black text-white">
                    <th *ngFor="let datas of transactionheader">{{datas}}</th>
                  </tr>
                  <tr class="bg-black text-white"
                    *ngFor="let output of transactionvalue | paginate: { itemsPerPage: 25, currentPage: p }">
                    <td *ngFor="let header of output">{{header}}</td>
                  </tr>
      
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
      
                </table>
              </div>
      
      
      
            </div>
          </div>
        </ng-template>
      </ngb-tab>
     
    </ngb-tabset>
  </div>
</div>