<app-navbar></app-navbar>
<!-- <div class="content-wrapper pt-0 pl-3">
  <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
   
    <div class="col-6 mt-3">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-md text-white">Fiat Holdings</span>
      
        <ngb-tabset justify="fill">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5>WALLET</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane p-3 tab-1" id="margin" role="tabpanel" aria-labelledby="market-sell-tab">
                <h4>Fiat: USD</h4>
                <h5>Amount: <span class="font-lg text-green">{{fiatbalance|currency}}</span></h5>
               
                <br><br>
                <label for="">Transfer To: </label>
                <div class="btn-group mx-3">
                  <button class="btn btn-primary btn-sm"
                    (click)="modalOpen(marginfiath,fiatbalance,'usd')">Margin</button>
                  <button class="btn btn-primary btn-sm"
                    (click)="modalOpen(fundingfiath,fiatbalance,'usd')">Funding</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5 (click)="faitmargin()">MARGIN</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane p-3 tab-1" id="wallet" role="tabpanel" aria-labelledby="market-sell-tab">
                <h4>Fiat: USD</h4>
            
                <br>
                <div>
                  <h6>Margin Wallet Balance: <span class="font-md text-green"> {{this.marginWalletBalance}}</span></h6>
                  <h6>Used Balance: <span class="font-md text-green"> {{this.usedBalance}}</span></h6>
                  <h6>Available Balance: <span class="font-md text-green"> {{this.availableBalance}}</span></h6>
         
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5>FUNDING</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane p-3 tab-1" id="funding" role="tabpanel" aria-labelledby="market-sell-tab">
                <h4>Fiat: USD</h4>
                <h5>Amount: <span class="font-lg text-green">{{main.fiatBalance|currency}}</span></h5>

                <div class="row form-group">
                  <div class="col-sm-3">From Date:</div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="assetfromdate"
                        ngbDatepicker #ds="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" (click)="ds.toggle()" type="button">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-sm-3">To Date:</div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="assettodate"
                        ngbDatepicker #do="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" (click)="do.toggle()" type="button">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
           
                <button type="submit" class="text-green"
                  (click)="modalUpFiat(fiathmodal); assetfundingmargin(); reset()">Submit</button>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

    
    <div class="col-6 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-md text-white">Asset Holdings</span>
     
        <ngb-tabset justify="fill">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5>WALLET</h5>
            </ng-template>
            <ng-template ngbTabContent>
            
              <div class="w-100 mt-2"></div>
              <div class="table-responsive-sm">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr class="bg-black text-blue">
                      <th scope="col">Asset</th>
                      <th scope="col">Balance</th>
                      <th scope="col">Action</th>
                      <th scope="col">Transfer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr [hidden]="main.balance_list">
                      <td colspan="3" class="text-center">
                        <img src="./assets/svg-loaders/puff.svg" width="50" alt="">
                      </td>
                    </tr>
                    <tr *ngFor="let b of main.mainArr; let i=index;">

                      <td class="text-yellow">{{b.currencyname|uppercase}}</td>
                      <td class="text-white" *ngIf="b.currencyname=='BTC'">{{btcBalance}}</td>
                      <td class="text-white" *ngIf="b.currencyname=='ETH'">{{ethBalance}}</td>
                      <td class="text-white" *ngIf="b.currencyname=='BCC'">{{bccBalance}}</td>
                      <td class="text-white" *ngIf="b.currencyname=='DIAM'">{{diamBalance}}</td>
                      <td class="text-white" *ngIf="b.currencyname=='LTC'">{{ltcBalance}}</td>
                      <td class="text-white" *ngIf="b.currencyname=='HCX'">{{hcxBalance}}</td>
                      <td class="text-white" *ngIf="b.currencyname=='ETC'"></td>
                      <td class="text-white" *ngIf="b.currencyname=='BSV'"></td>
                      
                      <td>
                        <a  (click)="getCurrencyForSend(sendmd,b.currency,b.balance)"
                          class="text-skyblue" href="javascript:void(0);">SEND</a>
                        <a  class="text-green" (click)="getCurrencyForRecieve(rcvCode,b.currency)"
                          href="javascript:void(0);">RECEIVE</a>
                     
                      </td>
                      <td>
                     
                        <a *ngIf="b.currency=='btc'" class="text-skyblue"
                          (click)="modalOpen(assetmargin,btcBalance,b.currency)" href="javascript:void(0);">MARGIN</a>
                        <a *ngIf="b.currency=='bch'" class="text-skyblue"
                          (click)="modalOpen(assetmargin,bccBalance,b.currency)" href="javascript:void(0);">MARGIN</a>
                        <a *ngIf="b.currency=='hcx'" class="text-skyblue"
                          (click)="modalOpen(assetmargin,hcxBalance,b.currency)" href="javascript:void(0);">MARGIN</a>
                        <a *ngIf="b.currency=='eth'" class="text-skyblue"
                          (click)="modalOpen(assetmargin,ethBalance,b.currency)" href="javascript:void(0);">MARGIN</a>
                        <a *ngIf="b.currency=='ltc'" class="text-skyblue"
                          (click)="modalOpen(assetmargin,ltcBalance,b.currency)" href="javascript:void(0);">MARGIN</a>
                        <a *ngIf="b.currency=='btc'" class="text-green"
                          (click)="modalOpen(assetfunding,btcBalance,b.currency); getmarginval(b.currency)"
                          href="javascript:void(0);">FUNDING</a>
                        <a *ngIf="b.currency=='bch'" class="text-green"
                          (click)="modalOpen(assetfunding,bccBalance,b.currency); getmarginval(b.currency)"
                          href="javascript:void(0);">FUNDING</a>
                        <a *ngIf="b.currency=='hcx'" class="text-green"
                          (click)="modalOpen(assetfunding,hcxBalance,b.currency); getmarginval(b.currency)"
                          href="javascript:void(0);">FUNDING</a>
                        <a *ngIf="b.currency=='eth'" class="text-green"
                          (click)="modalOpen(assetfunding,ethBalance,b.currency); getmarginval(b.currency)"
                          href="javascript:void(0);">FUNDING</a>
                        <a *ngIf="b.currency=='ltc'" class="text-green"
                          (click)="modalOpen(assetfunding,ltcBalance,b.currency); getmarginval(b.currency)"
                          href="javascript:void(0);">FUNDING</a>
                        <span class="text-info" *ngIf="i==5">Coming Soon...</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5>MARGIN</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-3">
                  <h6> Asset :</h6>
                </div>
                <div class="col-md-6">
                  <select class="form-control" [(ngModel)]="currencyName"
                    (change)="somethingChanged($event.target.value); reset()">
                    <option value="marginholding">Select Currency</option>
                    <option *ngFor="let items of arraylist" [value]="items.CurrencyName">{{items.CurrencyName}}</option>
                  </select>
                </div>
              </div>
              <br><br>
              <div class="row" *ngIf="flag">
                <div class="col-md-9" [(ngModel)]="assetBalance">
                  <h6>Margin Wallet Balance: <span class="font-md text-green"> {{marginWalletBalance1}}</span></h6>
                  <h6>Used Balance: <span class="font-md text-green"> {{usedBalance1}}</span></h6>
                  <h6>Available Balance: <span class="font-md text-green"> {{availableBalance1}}</span></h6>
                </div>
              </div>
              <div class="row" *ngIf="!flag">
                <div class="col-md-9" [(ngModel)]="assetBalance">
                  <h6>Margin Wallet Balance: <span class="font-md text-green">0</span></h6>
                  <h6>Used Balance: <span class="font-md text-green"> </span>0</h6>
                  <h6>Available Balance: <span class="font-md text-green">0</span></h6>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5>FUNDING</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row form-group">
                <label class="control-label col-sm-2" for="email">Asset Provided:</label>
                <div class="col-sm-4">
                  <select class="form-control" [(ngModel)]="arrayy">
                    <option hidden value="assetcurrency" disabled>Select Currency</option>
                   
                    <option *ngFor="let item of arraylist" [value]="item.CurrencyId">{{item.CurrencyName}}</option>
                  </select>
                </div>
                <label class="control-label col-sm-2" for="email">Base Currency:</label>
                <div class="col-sm-4">
                
                  <input type="text" class="form-control" ng-model="base" placeholder="USD" disabled>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-3">From Date:</div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modelabc" ngbDatepicker
                      #ds="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" (click)="ds.toggle()" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-3">To Date:</div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modeldate" ngbDatepicker
                      #do="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" (click)="do.toggle()" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="text-green"
                (click)="modalUp(popup); findingViewForInputServise(); reset()">Submit</button>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100"> <span class="font-md text-white">Wallet Transactions History
          <small style="font-size: 60%;">(Click Description for more details)</small></span>
        <div class="p-2 float-right">
          <div class="btn-group btn-group-sm" role="group" aria-label="transaction-history">
            <button type="button"
              class="btn btn-dark font-xs filter-button mywallet_filter_btn send_filter_btn_wallet btn_active"
              (click)="filterType('send')">SEND</button>
            <button type="button"
              class="btn btn-dark font-xs  filter-button mywallet_filter_btn recieved_filter_btn_wallet"
              (click)="filterType('recieved')">RECEIVE</button>
          </div>
        </div>
        <div class="w-100 mt-2"></div>
        <div class="table-responsive-sm">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-black text-blue">
                <th scope="col">Date - Time</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Asset</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody class="walletHistoryTableBody">
              <tr>
                <td colspan="5" class="text-center py-3">
                  <img src="./assets/svg-loaders/puff.svg" width="50" alt="">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="float-sm-right btn-group btn-group-sm pagination_div" role="group"
              aria-label="transaction-history">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div> -->
<div class="content-wrapper pt-0 pl-3">
  <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="myWalletCtrl">
    <!-- margin usd -->
    <div class="col-6 mt-3">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-md text-white">Fiat Holdings</span>
        <!-- new -->
        <ngb-tabset justify="fill">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5>WALLET</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane p-3 tab-1" id="margin" role="tabpanel" aria-labelledby="market-sell-tab">
                <h4>Fiat: USD</h4>
                <h5>Amount: <span class="font-lg text-green">{{main.fiatBalance|currency}}</span></h5>
                <!-- <p>Net Tradeable Balance: USD</p>
                  <p>Available Margin: USD</p>
                  <p>Used Margin: USD</p> -->
                <br><br>
                <label for="">Transfer To: </label>
                <div class="btn-group mx-3">
                  <button class="btn btn-primary btn-sm"
                    (click)="modalOpen(marginfiath,main.fiatBalance,'usd')">Margin</button>
                  <button class="btn btn-primary btn-sm"
                    (click)="modalOpen(fundingfiath,main.fiatBalance,'usd')">Funding</button>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5 (click)="faitmargin()">MARGIN</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane p-3 tab-1" id="wallet" role="tabpanel" aria-labelledby="market-sell-tab">
                <h4>Fiat: USD</h4>
                <!-- <h5>Amount: <span class="font-lg text-green">{{main.fiatBalance|currency}}</span></h5> -->
                <br>
                <div>
                  <h6>Margin Wallet Balance: <span class="font-md text-green"> {{this.marginWalletBalance}}</span></h6>
                  <h6>Used Balance: <span class="font-md text-green"> {{this.usedBalance}}</span></h6>
                  <h6>Available Balance: <span class="font-md text-green"> {{this.availableBalance}}</span></h6>


                  <!-- <h6>  Margin Wallet Balance:  <span class="font-md text-green">  {{this.getmarginfaith.marginWalletBalance}}</span></h6>
                    <h6>  Margin Wallet:  <span class="font-md text-green">   {{this.getmarginfaith.marginWallet}}</span></h6>
                    <h6>  Available Balance:  <span class="font-md text-green"> {{this.getmarginfaith.availableBalance}}</span></h6> -->
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5>FUNDING</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane p-3 tab-1" id="funding" role="tabpanel" aria-labelledby="market-sell-tab">
                <!-- <h4>Fiat: USD</h4>
                <h5>Amount: <span class="font-lg text-green">{{main.fiatBalance|currency}}</span></h5> -->

                <div class="row form-group">
                  <div class="col-sm-3">From Date:</div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="assetfromdate"
                        ngbDatepicker #ds="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" (click)="ds.toggle()" type="button">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-sm-3">To Date:</div>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="assettodate"
                        ngbDatepicker #do="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-secondary" (click)="do.toggle()" type="button">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <button  type="submit" class="text-green"  (click)="modalUpFiat(popup); assetfundingmargin(); reset()">Submit</button> -->
                <button type="submit" class="text-green"
                  (click)="modalUpFiat(fiathmodal); assetfundingmargin(); reset()">Submit</button>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

    <!-- margin btc eth-->
    <div class="col-6 mt-3 align-self-stretch">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100">
        <span class="font-md text-white">Asset Holdings</span>
        <!-- new -->
        <ngb-tabset justify="fill">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5 (click)="reset()">WALLET</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <!-- <span class="font-lg text-green">
                  $ <ng2-odometer [number]="main.fiatBalance" [config]="{ format: '(,ddd).dddd' }"></ng2-odometer>
                </span> -->
              <div class="w-100 mt-2"></div>
              <div class="table-responsive-sm">
                <table class="table table-sm table-hover">
                  <thead>
                    <tr class="bg-black text-blue">
                      <th scope="col">Asset</th>
                      <th scope="col">Balance</th>
                      <th scope="col">Action</th>
                      <th scope="col">Transfer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr [hidden]="main.balance_list">
                      <td colspan="3" class="text-center">
                        <img src="./assets/svg-loaders/puff.svg" width="50" alt="">
                      </td>
                    </tr>
                    <tr *ngFor="let b of main.balance_list; let i=index">
                     <td class="text-yellow">{{b.currency|uppercase}}</td>
                      <td class="text-white">{{b.balance}}</td>
                      <td>
                         <a *ngIf="b.send==1" (click)="getCurrencyForSend(sendmd,b.currency,b.balance)" class="text-skyblue"
                          href="javascript:void(0);">SEND</a>
                        <a *ngIf="b.receive==1" class="text-green" (click)="getCurrencyForRecieve(rcvCode,b.currency)"
                          href="javascript:void(0);">RECEIVE</a>
                           </td>
                      <td>
                      
                        <a class="text-skyblue" (click)="modalOpen(assetmargin,b.balance,b.currency)"
                          href="javascript:void(0);">MARGIN</a>
                        <a class="text-green"
                          (click)="modalOpen(assetfunding,b.balance,b.currency); getmarginval(b.currency)"
                          href="javascript:void(0);">FUNDING</a>
                       
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5 (click)="reset()">MARGIN</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row">
                <div class="col-md-3">
                  <h6> Asset :</h6>
                </div>
                <div class="col-md-6">
                  <select class="form-control" [(ngModel)]="currencyName"
                    (change)="somethingChanged($event.target.value); reset()">
                    <option value="marginholding">Select Currency</option>
                    <option *ngFor="let items of  arraylist" [value]="items.CurrencyName">
                      <div *ngIf="items.CurrencyName !='BCC'">
                        <option>{{items.CurrencyName}}</option>
                      </div>
                      <div *ngIf="items.CurrencyName=='BCC'">
                          <option>BCH</option>
                        </div>
                    </option>
                  </select>
                </div>
              </div>
              <br><br>
              <div class="row">
                <div class="col-md-9" [(ngModel)]="assetBalance">
                  <h6>Margin Wallet Balance: <span class="font-md text-green"> {{this.marginWalletBalance1}}</span></h6>
                  <h6>Used Balance: <span class="font-md text-green"> {{this.usedBalance1}}</span></h6>
                  <h6>Available Balance: <span class="font-md text-green"> {{this.availableBalance1}}</span></h6>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>
              <h5 (click)="reset()">FUNDING</h5>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="row form-group">
                <label class="control-label col-sm-2" for="email">Asset Provided:</label>
                <div class="col-sm-4">
                  <select class="form-control" [(ngModel)]="arrayy">
                    <option hidden value="assetcurrency" disabled>Select Currency</option>
                    <!-- <option>Select</option> -->
                    <option *ngFor="let item of arraylist" [value]="item.CurrencyId">
                      <div *ngIf="item.CurrencyName!='BCC'">
                        <option>{{item.CurrencyName}}</option>
                      </div>
                      <div *ngIf="item.CurrencyName=='BCC'">
                        <option>BCH</option>
                      </div>
                    </option>
                  </select>
                </div>
                <label class="control-label col-sm-2" for="email">Base Currency:</label>
                <div class="col-sm-4">
                  <!-- <select class="form-control" ng-model="base" disabled>
                      <option value="usd">USD</option>
                    </select> -->
                  <input type="text" class="form-control" ng-model="base" placeholder="USD" disabled>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-3">From Date:</div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modelabc" ngbDatepicker
                      #ds="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" (click)="ds.toggle()" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-3">To Date:</div>
                <div class="col-sm-6">
                  <div class="input-group">
                    <input class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="modeldate" ngbDatepicker
                      #do="ngbDatepicker">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" (click)="do.toggle()" type="button">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="text-green"
                (click)="modalUp(popup); findingViewForInputServise(); reset()">Submit</button>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="bg-dark p-2 pl-3 pr-3 rounded h-100"> <span class="font-md text-white">Wallet Transactions History
          <small style="font-size: 60%;">(Click Description for more details)</small></span>
        <div class="p-2 float-right">
          <div class="btn-group btn-group-sm" role="group" aria-label="transaction-history">
            <button type="button"
              class="btn btn-dark font-xs filter-button mywallet_filter_btn send_filter_btn_wallet btn_active"
              (click)="filterType('send')">SEND</button>
            <button type="button"
              class="btn btn-dark font-xs  filter-button mywallet_filter_btn recieved_filter_btn_wallet"
              (click)="filterType('recieved')">RECEIVE</button>
          </div>
        </div>
        <div class="w-100 mt-2"></div>
        <div class="table-responsive-sm">
          <table class="table table-sm table-hover">
            <thead>
              <tr class="bg-black text-blue">
                <th scope="col">Date - Time</th>
                <th scope="col">Description</th>
                <th scope="col">Type</th>
                <th scope="col">Asset</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody class="walletHistoryTableBody">
              <tr>
                <td colspan="5" class="text-center py-3">
                  <img src="./assets/svg-loaders/puff.svg" width="50" alt="">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="float-sm-right btn-group btn-group-sm pagination_div" role="group"
              aria-label="transaction-history">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid-->
</div>
<!-- send modal -->
<ng-template #sendmd let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Send {{cryptoCurrency|uppercase}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <ngb-tabset>
      <ngb-tab title="Paybito Wallet" *ngIf="cryptoCurrency !='triggers'">
        <ng-template ngbTabContent>
          <form namw="form" #f="ngForm" novalidate>
            <div class="form-group row">
              <div class="col-md-4 text-right">Reciever's Mobile No</div>
              <div class="col-md-8">
                <input type="number" class="form-control" [(ngModel)]="paybito_phone" name="a"
                  placeholder="Reciever's Mobile No"></div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 text-right">Amount</div>
              <div class="col-md-8">
                <input type="number" class="form-control" [(ngModel)]="paybito_amount" name="b" placeholder="0.00">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-4"></div>
              <div class="col-md-8 text-left">
                <button class="btn btn-success" [disabled]="f.form.invalid || f.form.pristine"
                  (click)="transactionSendWithinPaybito(); modal.close();">Submit</button>
              </div>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Other Wallet">
        <ng-template ngbTabContent>
          <form name="form" id="uc-disclaimer-form" #f="ngForm" novalidate>
            <div class="form-group row">
              <div class="col-md-4 text-right">Reciever's Address</div>
              <div class="col-md-8"><input type="text" class="form-control" [(ngModel)]="other_address"
                  placeholder="Reciever's Address" name="a" required></div>
            </div>
            <div class="form-group row">
              <div class="col-md-4 text-right">Amount</div>
              <div class="col-md-8">
                <input type="number" class="form-control" [(ngModel)]="other_amount" placeholder="0.00" step="0.1"
                  name="b" #b="ngModel" (focus)="show=true" (keyup)="getRate($event,cryptoCurrency)">
                <!-- [class.is-invalid]="other_amount>limit||other_amount<mining_fees||other_amount<0"  -->
                <!-- sendmax -->
                <!-- <div *ngIf="data.settings.sendMax">
                    <div class="text-left text-danger">
                      <span *ngIf="b.dirty&&other_amount<=0">Amount cannot be negative or zero.</span>
                      <span *ngIf="b.dirty&&other_amount>limit">You don't have sufficient balance <div class="d-none">{{limit}}</div></span>
                    </div>
                    <div class="col-md-12 text-right mt-2"> -->
                <!-- <span class="text-danger mr-2" *ngIf="other_amount>limit||other_amount<mining_fees||other_amount==0">
                        You do not have sufficient balance</span> -->
                <!-- <button class="btn btn-primary btn-ex-sm" (click)="sendMax()" [hidden]="!show" [disabled]="loading">
                            <span *ngIf="!loading">Send Max</span>
                          <span *ngIf="loading">Loading....</span>
                        </button>
                    </div>
                  </div>-->
              </div>

            </div>
            <!-- <div class="form-group row">
              <div class="col-md-4 text-right">Mining Fees</div>
              <div class="col-md-8">
                <input type="number" class="form-control" [value]="mining_fees" placeholder="0.00" name="c" readonly>
              </div>
            </div>-->
            <div class="form-group row">
              <div class="col-md-4"></div>
              <div class="col-md-8 text-left" *ngIf="!flag">
                <button class="btn btn-success" (click)="transactionSendForOthers(); modal.close();"
                  style="display:block" [disabled]="f.form.invalid || f.form.pristine">Submit</button>
              </div>
              <div class="col-md-8 text-left" *ngIf="flag">
                <button class="btn btn-success" id="sclaimer" (click)="transactionSendForOthers(); modal.close();"
                  style="display:none" [disabled]="f.form.invalid || f.form.pristine">Submit</button>
              </div>
              <!-- || other_amount<=0 || other_amount>limit ||other_amount<mining_fees -->
            </div>
            <div class="text-primary text-left" *ngIf="cryptoCurrency !='triggers'">
              <h5 (click)="rate(networkFee)" style="cursor:pointer"><u> Check Network Fee </u></h5>
              <p> {{sendDisclaimer}} </p>
              <p> {{sendDisclaimer2}} </p>
            </div>
            <div class="text-primary text-left" *ngIf="cryptoCurrency=='triggers'">
              <!-- <h5 (click)="Disclaimerdtl(trigger)" style="cursor:pointer"><u> Disclaimer </u></h5>
              -->
              <h5 style="cursor:pointer"><u> Disclaimer </u></h5>

              <!-- <p> {{sendDisclaimer}} </p>
              <p> {{sendDisclaimer2}} </p> -->
              <div class="table-responsive-sm col-md-12">
                <p>Counterparty Blockchain Network fee is 0.0002 BTC per Triggers at minimum for send operation.</p>
                <p>Please ensure that you have sufficient BTC balance in your wallet</p>
                <p>Counterparty Blockchain may take upto 3 days to confirm a transaction.</p>
              </div>
              <div class="modal-footer">
                <div class="mr-auto text-dark"> I Agree:</div>
                <div> <span class="text-white font-weight-bold font-sm"><input type="checkbox" id="disclaim"
                      (click)="myFunction()"></span> </div>

              </div>
            </div>



          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<!-- qr modal -->
<ng-template #rcvCode let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Receive code for {{cryptoCurrency|uppercase}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div *ngIf="!rcv" class="text-center">
      <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
    </div>
    <div *ngIf="rcv">
      <div *ngIf="rcv!=0">
        <input type="text" class="form-control" [value]="rcv" #myId readonly>
        <button class="btn btn-primary m-3" (click)="copy(myId)">Copy</button>
        <div class="p-3" id="qrcd">
          <qrcode [qrdata]="rcv" [size]="256" [level]="'M'"></qrcode>
        </div>
      </div>
      <div *ngIf="rcv==0">
        <h3 class="text-center">
          Coming Soon...
        </h3>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>



<ng-template #networkFee let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Network Fee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive-sm col-md-12">
      <table class="table table-sm table-hover">
        <thead>
          <tr class="text-blue">
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Rate</th>
          </tr>
        </thead>
        <tbody id="network_fee_data">
          <tr *ngIf="!rateList">
            <td colspan="3" class="text-center">Loading...</td>
          </tr>
          <tr *ngFor="let r of rateList">
            <td>{{r.fromFee}} {{cryptoCurrency|uppercase}}</td>
            <td>{{r.toFee}} {{cryptoCurrency|uppercase}}</td>
            <td>{{r.feeRate}} {{cryptoCurrency|uppercase}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<ng-template #trigger let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Network Fee</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form id="uc-disclaimer-form">
    <div class="modal-body">
      <div class="table-responsive-sm col-md-12">
        <p>Counterparty Blockchain Network fee is 0.0002 BTC per Triggers at minimum for send operation.</p>
        <p>Please ensure that you have sufficient BTC balance in your wallet</p>
        <p>Counterparty Blockchain may take upto 3 days to confirm a transaction.</p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="mr-auto text-dark">Agree:</div>
      <div> <span class="text-white font-weight-bold font-sm"><input type="checkbox" id="disclaim"
            (click)="myFunction()"></span> </div>
    </div>
    <div>
      <button type="button" class="btn btn-secondary" (click)="modal.close()">Ok</button>
    </div>

  </form>
</ng-template>
<!-- swap modal -->

<ng-template #swap let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Token Swap Agreement</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <object data="./assets/swap_terms.html" type="text/html" style="width:100%; height:29em;"></object>
    <input type="checkbox" id="accept" [(ngModel)]="accept">
    <label for="accept" class="text-dark">&nbsp;&nbsp;I accept terms and conditions for token swapping.</label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancel</button>
    <button type="button" class="btn btn-success" (click)="swapCurrency();modal.close()"
      [disabled]="!accept">Swap</button>
  </div>
</ng-template>

<!-- funding modal -->
<ng-template #fundingfiath let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Funding</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-4">Amount available:</div>
      <div class="col"><input type="text" class="form-control" name="amount" [(ngModel)]="amount" readonly></div>
      <div class="col-2"><span class="curc">{{currency|uppercase}}</span></div>
    </div>
    <div class="row form-group">
      <div class="col-4">Send amount:</div>
      <div class="col"><input type="number" class="form-control" name="send_amount" [(ngModel)]="send_amount"></div>
      <div class="col-2"><span class="curc">{{currency|uppercase}}</span></div>
    </div>
    <div class="row form-group">
      <div class="col-4">Return Date:</div>
      <div class="col">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model"
            [minDate]='{year:currentYear,month:currentMonth,day:currentDay}' ngbDatepicker #d="ngbDatepicker">
          <!-- [minDate]="{year: year, month: month, day: day}"> -->
          <div class="input-group-append">
            <button class="btn btn-info" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <!-- <span class="dtc"></span> -->
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.close(); reset()">Close</button>
      <button type="button" class="btn btn-success" data-dismiss="modal"
        (click)="assetfundBuy(); modal.close(); reset()" [disabled]="send_amount>amount">Submit</button>
    </div>
  </div>

</ng-template>


<ng-template #popup let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Customer Funding Details View</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">

      <table class="table table-striped" *ngIf="fundingdata.length > 0">

        <thead>
          <tr>
            <th scope="col">currencyName</th>
            <th scope="col">lendingDate</th>
            <th scope="col">returnDate</th>
            <th scope="col">amount</th>

          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let objfund of fundingdata; index as i">

            <td *ngIf="objfund.currencyName !='BCC'">{{objfund.currencyName}}</td>
            <td *ngIf="objfund.currencyName =='BCC'">BCH</td>
            <td>{{objfund.lendingDate}}</td>
            <td>{{objfund.returnDate}}</td>
            <td>{{objfund.amount}}</td>


          </tr>
        </tbody>
      </table>
      <div *ngIf="fundingdata.length == 0" class="no_data_alert">
        <ngb-alert [dismissible]="false">
          <strong>No Data Found </strong>
        </ngb-alert>
      </div>

      <div *ngIf="fundingdata == -1" class="no_data_alert">
        <ngb-alert [dismissible]="false">
          <strong>Please fill up all the field </strong>
        </ngb-alert>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.close()">Close</button>
    </div>
  </div>
</ng-template>


<!-- @@@@@@@@ -->
<ng-template #fiathmodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Customer Funding Details View</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <table class="table table-striped" *ngIf="fdata.length > 0">
        <thead>
          <tr>
            <th scope="col">currencyName</th>
            <th scope="col">lendingDate</th>
            <th scope="col">returnDate</th>
            <th scope="col">amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let objfund of fdata; index as i">
            <td>{{objfund.currencyName}}</td>
            <td>{{objfund.lendingDate}}</td>
            <td>{{objfund.returnDate}}</td>
            <td>{{objfund.amount}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="fdata.length == 0" class="no_data_alert">
        <ngb-alert [dismissible]="false">
          <strong>No Data Found </strong>
        </ngb-alert>
      </div>

      <div *ngIf="fdata == -1" class="no_data_alert">
        <ngb-alert [dismissible]="false">
          <strong>Please fill up all the field </strong>
        </ngb-alert>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.close(); reset()">Close</button>
    </div>
  </div>
</ng-template>
<!-- @@@@@@ -->
<ng-template #assetmargin let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Margin</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-4"> Amount available:</div>
      <div class="col"><input type="number" class="form-control" name="amount" [(ngModel)]="amount" readonly></div>
      <div class="col-2"><span class="curc">{{currency|uppercase}}</span></div>
    </div>
    <div class="row">
      <div class="col-4">Send amount:</div>
      <div class="col"><input type="number" class="form-control" name="send_amount" [(ngModel)]="send_amount"></div>
      <div class="col-2"> <span class="curc">{{currency|uppercase}}</span></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close(); reset()">Close</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="send_amount>amount"
      (click)="lendingPrice();modal.close();reset()">Send</button>
  </div>
</ng-template>

<ng-template #marginfiath let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Margin</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-4"> Amount available:</div>
      <div class="col"><input type="number" class="form-control" name="amount" [(ngModel)]="amount" readonly></div>
      <div class="col-2"><span class="curc">{{currency|uppercase}}</span></div>
    </div>
    <div class="row">
      <div class="col-4">Send amount:</div>
      <div class="col"><input type="number" class="form-control" name="send_amount" [(ngModel)]="send_amount"></div>
      <div class="col-2"> <span class="curc">{{currency|uppercase}}</span></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close(); reset() ">Close</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="send_amount>amount"
      (click)="assetlendingPrice();modal.close(); reset()">Send</button>
  </div>
</ng-template>

<ng-template #assetfunding let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Funding</h4>
  </div>
  <div class="modal-body">
    <div class="row form-group">
      <div class="col-4">Amount available:</div>
      <div class="col"><input type="text" class="form-control" name="amount" [(ngModel)]="amount" readonly></div>
      <div class="col-2"><span class="curc">{{currency|uppercase}}</span></div>
    </div>
    <div class="row form-group">
      <div class="col-4">Send amount:</div>
      <div class="col"><input type="number" class="form-control" name="send_amount" [(ngModel)]="send_amount"></div>
      <div class="col-2"><span class="curc">{{currency|uppercase}}</span></div>
    </div>
    <div class="row form-group">
      <div class="col-4">Return Date:</div>
      <div class="col">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"  [minDate]='{year:currentYear,month:currentMonth,day:currentDay}' name="dp" [(ngModel)]="model" ngbDatepicker
            #d="ngbDatepicker">
          <!-- [minDate]="{year: year, month: month, day: day}"> -->
          <div class="input-group-append">
            <button class="btn btn-info" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="col-2">
        <!-- <span class="dtc"></span> -->
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="modal.close(); reset()">Close</button>
      <button type="button" class="btn btn-success" data-dismiss="modal" (click)="fundBuy(); modal.close(); reset()"
        [disabled]="send_amount>amount">Submit</button>
    </div>
  </div>
</ng-template>