<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <link id="moon" href="../src/styles.css" rel="stylesheet" > -->
  <title>Paybito</title>
  <base href="/index.html">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="./assets/img/favicon.png">
</head>
<body class="fixed-nav navbar-dark" id="page-top" data-ng-app="main" data-ng-controller="tradeCtrl" data-ng-init="tradePageSetup()" data-ng-mouseover="activeUser()" data-ng-click="activeUser()" >
  <app-root></app-root>
</body>

</html>
