/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

html {
    position: relative;
    min-height: 100%;
    font-family: 'Poppins', sans-serif !important;
  }
  .tabe-responsive_right{
    height: 328px;
    overflow-y:scroll;
    overflow-x:auto;
 }
 .tabe-responsive_left_buy{
  height: 154px;
  overflow-y:scroll;
  overflow-x:auto;
  font-size:.7rem;
 }
 .tabe-responsive_left_sell{
  height: 134px;
  overflow-y:scroll;
  overflow-x:auto;
  font-size:.7rem;
 }
.right{
  float:right;
}
 .sun{
   /* background-image: url("../src/assets/img/sun.png") no-repeat; */
   width:28px;
   padding:2px;
   height:28px;
   margin-top: 10px;
   cursor: pointer;
   right: 100px;
   float:right;
   border:none;
   background: url("../src/assets/img/sun.png") no-repeat;
 }
 .moon{
  /* background-image: url("../src/assets/img/moon.png") no-repeat; */
  width:28px;
  padding:2px;
  border:none;
  cursor: pointer;
  margin-top: 10px;
  float:right;
  height:28px;
  background: url("../src/assets/img/moon.png") no-repeat;
}
 .btn-info{
  color: #fff !important;
  background-color: #17a2b8 !important;
  border-color: #17a2b8 !important;
  font-size: 15px;
 }
 .login_btn
 {
   color:#fff;
   padding: .275rem .75rem !important;
 }
 .login_btn:hover
 {
   color:#fff;
 }
 #tab2{
   border:none;
 }
 a{
   color:#007bff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size:17px;
 }
 /* a:hover{
  color:#aca4a4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:13px;
} */
 h5{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-weight:bold;
   border-bottom-color: #fcfcfc;
   background: transparent;
 }
 .tabe-responsive_left{font-size:.7rem;}
 #trade-details-tableContent{padding:0 15px 0 0;} .tabe-responsive_right tr td{font-size:.7rem;}

  body {
    overflow-x: hidden;
    color: rgb(153, 152, 152);
    font-size:.9rem;
    background: #242e3e !important;
    font-family: 'Poppins', sans-serif !important;
  }
tr,th,thead{
  background: transparent;
  border: none;
}
  body.sticky-footer {
    margin-bottom: 56px;
  }

  body.sticky-footer .content-wrapper {
    padding-bottom:1rem;
    /*min-height: calc(100vh - 56px - 56px);*/
  }

  body.fixed-nav {
    padding-top: 56px;
  }

  .content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 1rem;
  }
  .scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 3px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: white;
    background: rgba(52, 58, 64, 0.5);
    line-height: 45px;
  }

  .scroll-to-top:focus, .scroll-to-top:hover {
    color: white;
  }

  .scroll-to-top:hover {
    background: #818183;
  }

  .scroll-to-top i {
    font-weight: 800;
  }

  .smaller {
    font-size: 0.7rem;
  }

  .o-hidden {
    overflow: hidden !important;
  }

  .z-0 {
    z-index: 0;
  }

  .z-1 {
    z-index: 1;
  }
  .text-right{
    size: 13px;
  }
  .breadcrumb,.bg-dark{
    background:#181d2b!important;
    /* background: #252C46 !important; */
  }
  .navbar{
    background: #24262d;
      padding:0 1rem 0 0;
  }
  .navbar-dark .navbar-brand{
      background: #1e8881;
      padding:.6125rem;
  }

  #mainNav .navbar-collapse {
    overflow: auto;
    max-height: 75vh;
  }
  #mainNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    cursor: pointer;
    color: #96a0ab;
  }

  #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    float: right;
    content: '\f107';
    font-family: 'FontAwesome';
  }

  #mainNav .navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after {
    content: '\f105';
  }

  #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level,
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level {
    padding-left: 0;
  }

  #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a,
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
    display: block;
    padding: 0.5em 0;
  }

  #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:focus, #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a:hover,
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:focus,
  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a:hover {
    text-decoration: none;
  }

  #mainNav .navbar-collapse .navbar-sidenav .sidenav-second-level > li > a {
    padding-left: 1em;
  }

  #mainNav .navbar-collapse .navbar-sidenav .sidenav-third-level > li > a {
    padding-left: 2em;
  }

  #mainNav .navbar-collapse .sidenav-toggler {
    display: none;
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
    position: relative;
    min-width: 10px;
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    float: right;
    width: auto;
    content: '\f105';
    border: none;
    font-family: 'FontAwesome';
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link .indicator {
    position: absolute;
    top: 5px;
    left: 21px;
    font-size: 10px;
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown.show > .nav-link:after {
    content: '\f107';
  }

  #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
    overflow: hidden;
    max-width: none;
    text-overflow: ellipsis;
  }
  .my-trades-filter{
      position:absolute;
      right:2rem;
      top:1rem;
  }
  @media (min-width: 992px) {
    #mainNav .navbar-brand {
      width: 250px;
    }
    #mainNav .navbar-collapse {
      overflow: visible;
      max-height: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
      padding-left:1rem; padding-right:1rem;
    }
    #mainNav .navbar-collapse .navbar-sidenav {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 55px;
    }
    #mainNav .navbar-collapse .navbar-sidenav .nav-item {
      width: 250px;
      padding: 0;
    }
    #mainNav .navbar-collapse .navbar-sidenav .nav-item > .nav-link {
      padding: 1em 1.2em;
    }
    #mainNav .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level,
    #mainNav .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level {
      padding-left: 0;
      list-style: none;
    }
    #mainNav .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level > li,
    #mainNav .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li {
      width: 250px;
    }
    #mainNav .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level > li > a,
    #mainNav .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li > a {
      padding: 1em;
    }
    #mainNav .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level > li > a {
      padding-left: 2.75em;
    }
    #mainNav .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li > a {
      padding-left: 3.75em;
    }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link {
      min-width: 0;
    }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
      width: 24px;
      text-align: center;
    }
    #mainNav .navbar-collapse .navbar-nav > .nav-item.dropdown .dropdown-menu > .dropdown-item > .dropdown-message {
      max-width: 300px;
    }
  }

  #mainNav.fixed-top .sidenav-toggler {
    display: none;
  }

  @media (min-width: 992px) {
    #mainNav.fixed-top .navbar-sidenav {
      height: calc(100vh - 112px);
    }
    #mainNav.fixed-top .sidenav-toggler {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: calc(100vh - 56px);
    }
    #mainNav.fixed-top .sidenav-toggler > .nav-item {
      width: 250px;
      padding: 0;
    }
    #mainNav.fixed-top .sidenav-toggler > .nav-item > .nav-link {
      padding: 1.2em;
    }
  }

  #mainNav.fixed-top.navbar-dark .sidenav-toggler {
    background-color: #212529;
  }

  #mainNav.fixed-top.navbar-dark .sidenav-toggler a i {
    color: #adb5bd;
  }

  #mainNav.fixed-top.navbar-light .sidenav-toggler {
    background-color: #212529;
  }

  #mainNav.fixed-top.navbar-light .sidenav-toggler a i {
    color: rgba(0, 0, 0, 0.5);
  }

  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler {
    overflow-x: hidden;
    width: 55px;
  }

  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-item,
  body.sidenav-toggled #mainNav.fixed-top .sidenav-toggler .nav-link {
    width: 55px !important;
  }

  body.sidenav-toggled #mainNav.fixed-top #sidenavToggler i {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
  }

  #mainNav.static-top .sidenav-toggler {
    display: none;
  }

  @media (min-width: 992px) {
    #mainNav.static-top .sidenav-toggler {
      display: flex;
    }
  }

  body.sidenav-toggled #mainNav.static-top #sidenavToggler i {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
  }

  .content-wrapper {
    overflow-x: hidden;
    background: #2f323b;
  }

  @media (min-width: 992px) {
    .content-wrapper {
      margin-left: 250px;
    }
  }
  .btn-info:not(:disabled):not(.disabled).active, .show > .btn-info.dropdown-toggle {
    background-color: #213636;
    border-color: #324b4b;
 }
  #sidenavToggler i {
    font-weight: 800;
  }

  .navbar-sidenav-tooltip.show {
    display: none;
  }

  @media (min-width: 992px) {
    body.sidenav-toggled .content-wrapper {
      margin-left: 58px;
    }
  }

  body.sidenav-toggled .navbar-sidenav {
    width: 55px;
  }

  body.sidenav-toggled .navbar-sidenav .nav-link-text {
    display: none;
  }

  body.sidenav-toggled .navbar-sidenav .nav-item,
  body.sidenav-toggled .navbar-sidenav .nav-link {
    width: 55px !important;
  }

  body.sidenav-toggled .navbar-sidenav .nav-item:after,
  body.sidenav-toggled .navbar-sidenav .nav-link:after {
    display: none;
  }

  body.sidenav-toggled .navbar-sidenav .nav-item {
    white-space: nowrap;
  }

  body.sidenav-toggled .navbar-sidenav-tooltip.show {
    display: flex;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: #96a0ab;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item > .nav-link {
    color: lightgray;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item > .nav-link:hover {
    color: #adb5bd;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level > li > a,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li > a {
    color: #96a0ab;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li > a:focus,
  #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li > a:hover {
    color: #adb5bd;
  }

  #mainNav.navbar-dark .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    color: #adb5bd;
  }

  @media (min-width: 992px) {
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
      background: #242e3e;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a {
      color: white !important;
      background-color: #212529;
    }
    li.active a{color:#FFF!important;}
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-dark .navbar-collapse .navbar-sidenav li.active a:hover {
      color: white;
    }
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level,
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level {
      background: #242e3e;
    }
  }

  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
    color: rgba(0, 0, 0, 0.5);
  }

  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item > .nav-link {
    color: rgba(0, 0, 0, 0.5);
  }

  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item > .nav-link:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level > li > a,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li > a {
    color: rgba(0, 0, 0, 0.5);
  }

  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level > li > a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a:hover,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li > a:focus,
  #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level > li > a:hover {
    color: rgba(0, 0, 0, 0.7);
  }

  #mainNav.navbar-light .navbar-collapse .navbar-nav > .nav-item.dropdown > .nav-link:after {
    color: rgba(0, 0, 0, 0.5);
  }

  @media (min-width: 992px) {
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav {
      background: #282c30;
    }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a {
      color: #000 !important;
      background-color: #e9ecef;
    }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:focus, #mainNav.navbar-light .navbar-collapse .navbar-sidenav li.active a:hover {
      color: #000;
    }
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item .sidenav-second-level,
    #mainNav.navbar-light .navbar-collapse .navbar-sidenav .nav-item .sidenav-third-level {
      background: #292c30;
    }
  }
  /****************SITE CSS**************/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px #131722 inset;
      box-shadow: 0 0 0 30px #131722 inset;
      -webkit-text-fill-color: #FFF !important;
  }
  .btn{padding: .275rem .75rem;color:white;}
  .btn-green{background:#00b75a !important;}
  .btn-red{background:#cc2d3d !important;}
  .btn-green.focus,.btn-green:focus,.btn-green.active,.btn-green:active,.btn-green:hover{outline:0;box-shadow:0 0 0 .2rem rgba(34, 37, 41, 0.25);background:#008a44;}
  .btn-red.focus,.btn-red:focus,.btn-red.active,.btn-red:active,.btn-red:hover{outline:0;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);background:#b51020;}
  .btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle{
      color: #fff;
      background: #213636;
        border-color: #294141;
  }
  .btn-dark {
      color: #fff;
      background: #213636;
        border-color: #294141;
  }
  .btn-dark:hover,.btn-dark:focus,.btn-dark.focus,.btn-dark.btn_active{color: #fff !important;
    background: #1f8881 !important;
    border-color: #1f8881 !important;}
  .input-group-text{min-width:60px;}
  .form-control::placeholder {color: rgb(248, 248, 248);opacity: 1;}
  .form-control:-ms-input-placeholder {color: rgb(255, 255, 255);}
  .form-control::-ms-input-placeholder {color: rgb(253, 253, 253);}
  .form-control {
    color: #fff;
    background-color: #131722;
    border: 1px solid #131722;
  }
  .form-control:focus{
      color:rgb(255, 255, 255);
      background-color:#1c1f20;
      border-color:#2a2d30;
      box-shadow:0 0 2px .1rem rgba(48, 56, 65, 0.25)
  }
  .form-control {
    font-size: 0.8rem;
  }
  .form-row{margin-top:.5rem;}
  .table-sm td, .table-sm th{
      padding:.15rem;
      border:0;
  }
  .form-control:disabled, .form-control[readonly] {
      background-color: #282e40;
      opacity: 1;
  }
  .table-sm th{
      font-weight:normal;
  }
  .table thead th {
      vertical-align: bottom;
      border-bottom: 0;
  }
  .select-coin-dropdown-toggle:after{
      position: absolute;
      right: .5rem;
      top: 45%;
  }
  .charts-tab{
    background-color:#273338;

  }
  .charts-tab:hover{
    background-color:#202564;
    border-color:#313d42;
  }
  .select-coin-list{
      padding-top:0;
      overflow: hidden;
      width: 400px;

  }
  .select-coin-list .select-coin{
      padding: .5rem 2rem .5rem 3rem;
  }
  .select-coin-list .search-coin{
      padding:.5rem .5rem 0 .5rem;
  }
  .select-coin-list .select-coin.active,.select-coin-list .select-coin:active{background-color: #181d2b;color:#FFF!important;}
  .select-coin-list .select-coin.active:before {
      content: "\f00c";
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      color: #fff;
      font-size: 16px;
      position: absolute;
      right: .5rem;
  }
  element.style{
    overflow: hidden;
  }
  .select-coin:hover{background: transparent;} */
  .select-coin-list .select-coin.disabled{pointer-events:none;background-color:rgba(56, 60, 71, 0.15);}
  .select-coin{background-repeat: no-repeat;background-size:24px 24px; background-position:12px;}
  .BTC-coin-select{background-image:url(./assets/img/currency/BTC.svg);}
  .ETH-coin-select{background-image:url(./assets/img/currency/ETH.svg);}
  .BCH-coin-select{background-image:url(./assets/img/currency/BCH.svg);}
  .IEC-coin-select{background-image:url(./assets/img/currency/IEC.svg);}
  .HCX-coin-select{background-image:url(./assets/img/currency/HCX.svg);}
  .LTC-coin-select{background-image:url(./assets/img/currency/LTC.svg);}
  .XRP-coin-select{background-image:url(./assets/img/currency/XRP.svg);}
  .DIAM-coin-select{background-image:url(./assets/img/currency/DIAM.svg);}
  .BSV-coin-select{background-image:url(./assets/img/currency/BSV.svg);}
  .ETC-coin-select{background-image:url(./assets/img/currency/ETC.svg);}

  .BTC-coin-select:hover{background-image:url(./assets/img/currency/BTC.svg);}
  .ETH-coin-select:hover{background-image:url(./assets/img/currency/ETH.svg);}
  .BCH-coin-select:hover{background-image:url(./assets/img/currency/BCH.svg);}
  .IEC-coin-select:hover{background-image:url(./assets/img/currency/IEC.svg);}
  .HCX-coin-select:hover{background-image:url(./assets/img/currency/HCX.svg);}
  .LTC-coin-select:hover{background-image:url(./assets/img/currency/LTC.svg);}
  .XRP-coin-select:hover{background-image:url(./assets/img/currency/XRP.svg);}

  .font-lg{
      font-size:1.5rem;
  }
  .font-md{
      font-size:1.25rem;
  }
  .font-sm{
      font-size:1rem;
  }
  .font-xs{
      font-size:.8rem!important;
  }
  .text-red{color: #cc2d3d !important;}.text-green{color: #00b75a !important}.text-blue{color: #007bff !important;}.text-skyblue{color:#00d2ff;}.text-yellow{color:#fbc02d;}.text-orange{color:#f57f17;}.text-pbgreen{color:#1e8881;}
  .bg-red{background: #cc2d3d;}.bg-green{background: #00b75a}.bg-blue{background: #007bff;}.bg-skyblue{background:#00d2ff;}.bg-yellow{background:#fbc02d;}.bg-orange{background:#f57f17;}.bg-pbgreen{background:#1e8881;}.bg-black{background:#242729 !important;}
  /*** Global ***/
  .z-depth-0, .modal-dialog.cascading-modal.modal-avatar .modal-header {
    box-shadow: none !important; }
  .z-depth-1, .jumbotron,
  .navbar,
  .badge,
  .chip, .btn, .btn-primary:not([disabled]):not(.disabled):active, .btn-primary.active:not([disabled]):not(.disabled),
  .show > .btn-primary.dropdown-toggle, .card:not([class*="card-outline-"]), .pagination .active .page-link, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

  .z-depth-1-half, .btn:hover, .btn:active, .btn:focus, .modal-dialog .modal-content, .modal-dialog.cascading-modal .modal-header, ul.instagram-photos li img, .media .media-left img {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }
  .z-depth-2, .modal-dialog.cascading-modal.modal-avatar .modal-header img {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .z-depth-3 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); }
  .z-depth-4 {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21); }
  .z-depth-5 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22); }
  .nav-tabs .nav-link {
      border: none;
      color: gray !important;
  }
  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #007bff !important;
    background-color: transparent;
    border-bottom: 1px solid #007bff !important;
  }
  .deposit-withdraw-btn{width:92px;}
  .deposit-withdraw-btn:hover,.deposit-withdraw-btn:focus,.deposit-withdraw-btn:active{
      box-shadow: 0 0px 8px 0 rgba(0, 123, 255, .6);
  }
  .modal-header{display: block;text-align:center;}
  .modal-header .close{margin-top:-2.8rem;}
  .table-history-currency{width:36px;float:left;}
  .card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }
  .list-group-item.active {
      background-color: #1e8881;
      border-color: #1e8881;
  }
  /* Page Loader ================================= */
  .page-loader-wrapper,.lodr-overlay {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    overflow: hidden;
    text-align: center; }
    .page-loader-wrapper p {
      font-size: 13px;
      margin-top: 10px;
      font-weight: bold;
      color: #444; }
    .page-loader-wrapper .loader, .gif-loader {
      position: relative;
      top: calc(50% - 30px); }

      .lodr-overlay{background:rgba(0,0,0,.4)!important;}
    .lodr-overlay p{color:#FFF;}
    .modal-fullscreen,.modal-fullscreen .modal-content{
      left:0;
      top:0;
      bottom:0;
      right:0;
      width:100%;
      position:absolute;
      margin: 0;

    }
    #qr_code img{
      margin: 0 auto;
    }
    .error{
      color:#b12929;
    }
  @media (min-width: 576px) {
    .card-columns {
      column-count: 1;
    }
  }

  @media (min-width: 768px) {
    .card-columns {
      column-count: 2;
    }
  }

  @media (min-width: 1200px) {
    .card-columns {
      column-count: 2;
    }
  }
  .card-bg{
    background-color:#262d33;
  }
  .card-login {
    max-width: 30rem;
  }

  .card.card-login{background:rgba(255,255,255,.15);}
  .card-register {
    max-width: 40rem;
  }

  footer.sticky-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #24262d;
    line-height: 55px;
  }
  .well .active, .well .inactive {font-size:40px;cursor:pointer;}
  .well i.active { color: #5cb85c}
  .well i.inactive {color: #666}

  @media (min-width: 992px) {
    footer.sticky-footer {
      width: calc(100% - 250px);
    }
  }

  @media (min-width: 992px) {
    body.sidenav-toggled footer.sticky-footer {
      width: calc(100% - 55px);
    }
  }
  @keyframes flash {
   5% { opacity: 0.2; }
  }
  @-webkit-keyframes flash {
   5% { opacity: 0.0; }
  }
  /* .bg-flash-green {
    background-color: rgba(66, 150, 80, 0.1);
   animation: flash 1s step-start 0s infinite;
   -webkit-animation: flash 1s step-start 0s infinite;
  } */
  .bg-flash-green {
    background-color: rgba(40, 153, 40, 0.1);
   animation: flash 1s step-start 0s infinite;
   -webkit-animation: flash 1s step-start 0s infinite;
  }
  .bg-flash-red {
    background-color: rgba(255, 78, 78, 0.1);

   animation: flash 1s step-start 0s infinite;
   -webkit-animation: flash 1s step-start 0s infinite;
  }
  .text-ash{
    color:#9b9b9b;
  }
  .btn-ex-sm{
      font-size: .7rem;
      line-height: 1.5;
      border-radius: .2rem;
  }

  /* new */
  .anychart-embed-stock-chart-types-candlestick-chart{width:600px;height:450px;}
  html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

/* my style */
.dropdown-menu.ind{
  background: rgba(0,0,0,0.5);
}
.dropdown-item{
  color: white;
}
.btn.dropdown-toggle, .dropdown-menu{
  margin-top: 10px;
  background-color: rgb(29, 48, 49);
}
.widget{
  background-color: rgb(44, 65, 66);
  border-color: rgb(42, 67, 68);
}
.widget:active{
  background-color: rgb(44, 65, 66);
  border-color: rgb(42, 67, 68);
}
.widget:hover{
  background-color: rgb(33, 53, 54);
  border-color: rgb(28, 53, 54);
}
.selected{
  cursor: auto !important;
  margin-top: 10px;
  margin-left: 5px;
  /* color: #fff!important; */
  /* border: 1px solid #007bff !important; */
  text-align: left;
  background-color:#007bff !important;
}
.clSelected{
 padding-left: 2px;
   padding-right: 2px;
   margin-left: -5px;
   background: #273338;
   border: 1px solid #273338;
}
.anychart-credits-text, .anychart-input-label{
 display: none !important;
}
.anychart-button{
background: #273338;
color: white;
font-weight: 100;
margin-top: 8px;
 transform: scale(1.25);
 margin-right:0.5em;
}
#anychart-range-selector{
 display: inline-block;
}

@media(min-width:1000px){
 #mainNav .navbar-brand {
   width: 230px;
 }

  .navbar-sidenav{
    background: rgba(0, 0, 0, 0.5) !important;
    height: 100vh !important;
    width: 55px;
    transition: 0.5s;
    overflow: hidden;
    z-index: 9;
  }
  .navbar-sidenav:hover{
    width: 230px;
  }
  .nav-item:hover>.nav-link{
    background:#181d2b;
  }
  .nav-item:active>.nav-link{
    background: rgb(41, 44, 46);
  }
  .navbar-sidenav>.nav-item{
    background: transparent;
    transition: 0.5s;
  }
  .nav-link-text{
    margin-left: 20px;
  }

  .content-wrapper{
    margin-left: 4%;
  }
  .rightIcon>li{
    margin-top: 5px;
    margin-left: 34px;
  }
}

.loader{
  color:darkslategray;
  text-align: center;
  line-height: 5em;
  font-size: 5em;
  transition: 0.7s;
}

.tab-pane{
  padding-top: 10px;
}

.coin-select td{
  border: none;
  padding: 5px 20px;
  color:#fff;
}
.coin-select td a{
  transition: 0.5s;
}
.coin-select td a:hover{
  transform: scale(1.15);
  color: rgb(19, 18, 18);
}
.coin-select th{
  padding-left: 40px;
  color:#fff;
  width: 33.33%;
  padding-right: 93px;
}
/* .select-coin-list{
  background: rgba(255, 255, 255, 0.85);
} */

/* modal animation */
.modal-content,.resizable-widget,.loadImg{
  animation-name: popup;
  animation-duration: 0.3s;
}

.alert,span.indN{
  animation-name: popup;
  animation-duration: 0.5s;
}

@keyframes popup {
  0%   {transform: scale(0.5)}
  75%  {transform: scale(1.1)}
  100% {transform: scale(1)}
}

/* alert */
.alert{
  min-width: 100px;
  transition: 0.5s;
  z-index: 999999 !important;
}
.alert:hover{
  background: crimson;
  color: white;
}
.alertPlace{
  display: hidden;
  position: fixed;
  z-index: 999999 !important;
    bottom: 2em;
    right: 2em;
}

.alert-top{
  bottom:35em ;
}

.load{
  width: 100%;
  height: 128.5%;
  background: rgba(0,0,0,0.5);
  position: absolute;
  text-align: center;
  padding: 6em;
  font-size: 2em;
  z-index: 9;
}
.sticky-footer{
  display: none !important;
}

.resizable-widget{
  /* border: 1px solid rgb(45, 46, 48); */
  padding: 10px !important;
  z-index: 1;
  border:1px solid #a5a5a5;
}

.resizable-widget:active{
  box-shadow:0 0 20px rgb(38, 43, 51);
}

.resizable-widget.active{
  z-index: 9 !important;

}

.action{
  cursor: pointer !important;
}

.action:hover{
  border: 1px solid gray;
}

qrcode>img{
  display: inherit !important;
}

/* scroll bar */

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
  transition: 0.5s;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.5);
}

.scrollable{
  max-height: 23em !important; overflow-y: scroll; overflow-x: hidden;
}

.loading-mask{
  height: 150%;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 9;
  position: fixed;
}

.loading-mask > .img{
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* tradingview */
.chart-page{
  background: red !important;
}

.group-wWM3zP_M-{
  background: red;
}
.skrill{
   background: url('./assets/img/skrill-payby-btn-grey_245x75.png') no-repeat;
   margin: 0;
   padding: 0;
   width: 100px;
   height:30px;
   border: none;
 }
 label{
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 16px;
 }
 .btn-secondary{
  color: #fff !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
 }
 .content-wrapper.intro #chartHolder{background:rgb(236, 236, 236)!important;}
 .content-wrapper.intro .resizable-widget{background:rgb(236, 236, 236)!important;}
.content-wrapper.intro .rounded{background:rgb(236, 236, 236)!important;}
.content-wrapper.intro #chartHolder .btn-group .selected{background: rgb(236, 236, 236) !important;}
 .content-wrapper.intro #chartHolder .btn-group .selected.active{background:#00b75a !important;}

 .content-wrapper.intro #stp .form-control {color:#000 !important; }
 .content-wrapper.intro #stp .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.content-wrapper.intro #stp .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.content-wrapper.intro #stp .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.content-wrapper.intro #stp .form-control:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
.content-wrapper .btn.selected.active{
  background:#17a2b8 !important;
}
.dropdown-menu.show{
  height:274px;
}
.select-coin-list{
  background: rgb(39, 51, 56);
}
