<div [ngResizable]="data.resize" class="bg-dark p-2 pl-3 pr-3 rounded resizable-widget">

  <button (click)="reset()" class="reset d-none">reset</button>
  <button (click)="warnKyc(content)" class="d-none" id="warn">click</button>
  <!-- experiment -->
  <ngb-tabset justify="fill" *ngIf="!market" activeId="limit">
    <ngb-tab id="market">
      <ng-template ngbTabTitle>
        <h5> MARKET</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <ngb-tabset type="pills">
          <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="reset()" class="text-left">Buy</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane" id="market-buy" role="tabpanel" aria-labelledby="market-buy-tab">
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyBTC" class="col-form-label">Buying Amount</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input  numeric numericType="decimal" class="form-control form-control-sm rounded" id="inputOnlyBuyAmount" placeholder="0" [(ngModel)]="onlyBuyAmount"
                        (keyup)="getBuyVal($event)" #bam="ngModel" [class.is-invalid]="bam.dirty&&bam.invalid" >
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
                      </div>
                    </div>
                    <span class="text-danger" *ngIf="bam.dirty&&bam.invalid">Enter a valid amount</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">Price</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" id="inputOnlyBuyPrice"
                        placeholder="0" [(ngModel)]="onlyBuyPrice" readonly>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">Total Price</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" id="inputOnlyBuyTotalPrice" placeholder="0"
                        [(ngModel)]="onlyBuyTotalPrice" disabled>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2 ">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button type="button" id="mbuy" class="btn-green onlyBuyBtn btn" (click)="marketBuy()" [disabled]="bam.pristine || bam.invalid">BUY</button>
                  </div>
                </div>
                <span class="onlyBuyError text-red" style="display:none;">*Orderbook depth reached, price not found
                </span>
              </div>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="reset()" class="text-left">Sell</span>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="tab-pane" id="market-sell" role="tabpanel" aria-labelledby="market-sell-tab">
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellBTC" class="col-form-label">Selling Amount</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" id="inputOnlySellAmount"
                        placeholder="0" [(ngModel)]="onlySellAmount" (keyup)="getSellVal($event)" #sam="ngModel"
                     [class.is-invalid]="sam.dirty&&sam.invalid">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
                      </div>
                    </div>
                    <span class="text-danger" *ngIf="sam.dirty&&sam.invalid">Enter a valid amount</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellUSD" class="col-form-label">Price</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" id="inputOnlySellPrice"
                        placeholder="0" [(ngModel)]="onlySellPrice" disabled>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputSellUSD" class="col-form-label">Total Price</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" id="inputOnlySellTotalPrice" placeholder="0"
                        [(ngModel)]="onlySellTotalPrice" disabled>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button numeric numericType="decimal" id="msell" class="btn-red onlySellBtn btn" (click)="marketSell()" [disabled]="sam.invalid || sam.pristine">SELL</button>
                  </div>
                </div>
                <span class="onlySellError text-red" style="display:none;">*Orderbook depth reached, price not found </span>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="limit">
      <ng-template ngbTabTitle>
        <h5 (click)="reset()">LIMIT</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="tab-pane" id="trade" role="tabpanel" aria-labelledby="trade-tab">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="limit-order" role="tabpanel" aria-labelledby="limit-order-tab">
              <form name="form" #f="ngForm" novalidate>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="" class="col-form-label">Amount</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group ">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" [(ngModel)]="limitAmount"
                        placeholder="0" name="lam" #lam="ngModel" (keyup)="validateLimit()" [class.is-invalid]="lam.dirty&&limitAmount<0.0001"
                        required>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="" class="col-form-label">Price</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group ">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" [(ngModel)]="limitPrice"
                        placeholder="0" name="lpr" #lpr="ngModel" (keyup)="validateLimit()" [class.is-invalid]="lpr.dirty&&limitPrice<0.00000001"
                        required>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="" class="col-form-label">Total Value</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input numeric numericType="decimal" class="form-control form-control-sm rounded" [(ngModel)]="limitValue"
                        placeholder="0" readonly name="lval" [value]="limitPrice*limitAmount">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row mb-2">
                  <div class="col-12 col-md-8 offset-md-4">
                    <div class="btn-group">
                      <button type="button" class="btn btn-green tradeBtn" (click)="limitBuy()" [disabled]="f.form.invalid||f.form.pristine || validateLimit()">BUY</button>&nbsp;
                      <button type="button" class="btn btn-red tradeBtn" (click)="limitSell()" [disabled]="f.form.invalid || f.form.pristine || validateLimit()">SELL</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--/// End Limit Order Tab Content-->
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>
        <h5 (click)="reset()">STOP-LIMIT</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="tab-pane" id="stop-loss" role="tabpanel" aria-labelledby="stop-loss-tab">
          <form name="form" #f="ngForm" novalidate>
            <div class="form-row">
              <div class="col-12 col-md-4 text-left">
                <label for="inputSellUSD" class="col-form-label">Amount</label>
              </div>
              <div class="col-12 col-md-8">
                <div class="input-group mb-2">
                  <input numeric numericType="decimal" class="form-control form-control-sm rounded" placeholder="0" [(ngModel)]="stopLossQuantity"
                    name="a" #a="ngModel" pattern="\d+(\.\d{1,6})?" [class.is-invalid]="a.dirty&&a.invalid||stopLossQuantity<0"
                    required>
                  <div class="input-group-append">
                    <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-md-4 text-left">
                <label for="inputSellBTC" class="col-form-label">Stop-limit Price </label>
              </div>
              <div class="col-12 col-md-8">
                <div class="input-group">
                  <input numeric numericType="decimal" class="form-control form-control-sm rounded" id="stopLossPrice" placeholder="0"
                    [(ngModel)]="stopLossPrice" (keyup)="nonNg($event)" name="b" #b="ngModel" [class.is-invalid]="b.dirty&&b.invalid||stopLossPrice<0"
                    required pattern="\d+(\.\d{1,8})?">
                  <div class="input-group-append">
                    <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col-12 col-md-4 text-left">
                <label for="inputSellUSD" class="col-form-label">Trigger Price</label>
              </div>
              <div class="col-12 col-md-8">
                <div class="input-group">
                  <input numeric numericType="decimal" class="form-control form-control-sm rounded" id="stopLossTriggerPrice"
                    placeholder="0" [(ngModel)]="stopLossTriggerPrice" (keyup)="nonNg($event)" name="c" #c="ngModel"
                    [class.is-invalid]="c.dirty&&c.invalid||stopLossTriggerPrice<0" required pattern="\d+(\.\d{1,8})?">
                  <div class="input-group-append">
                    <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-row mb-2">
              <div class="col-12 col-md-8 offset-md-4">
                <div class="btn-group">
                  <button type="button" class="btn btn-green " id="buyForStopLossBtn" (click)="buyStopLoss()"
                    [disabled]="f.form.pristine || f.form.invalid">Buy</button>&nbsp;
                  <button type="button" class="btn btn-red" id="placeOrderForStopLossBtn" (click)="sellStoploss()"
                    [disabled]="f.form.pristine || f.form.invalid">Sell</button>
                </div>
              </div>
            </div>
            <span class=" text-red stopLossError" style="display:none;"> </span>
          </form>
        </div>
        <!--//STOP LOSS CONTENT-->
      </ng-template>
    </ngb-tab>
    <ngb-tab id="margin">
      <ng-template ngbTabTitle>
        <h5  >MARGIN</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <ngb-tabset type="pills">
          <ngb-tab >

            <ng-template ngbTabTitle>
              <span (click)="resetBuy()">Long Buy</span>
            </ng-template>
            <ng-template ngbTabContent  >
                <div class="form-row">
                    <div class="col-12 col-md-4 text-left">
                      <label for="inputBuyBTC" class="col-form-label">Order Type</label>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="input-group" style="font-size:1.5em">
                        <label class="radio-inline mx-2">
                          <input type="radio" name="optradio" value="M"  (click)="marketset(); reset()" checked>
                            Market
                         </label>
                        <label class="radio-inline mx-2">
                          <input type="radio" name="optradio" value="L"  [(ngModel)]="optradio" (click)="limitset(); reset()">
                           Limit
                        </label>
                      </div>
                    </div>
                  </div>


     <div  *ngIf="isMarket"  >

               <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyBTC" class="col-form-label">Buying Amount</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">

                      <input type="number" class="form-control form-control-sm rounded"  id="inputMarginBuyAmount"
                      [(ngModel)]="marginAmount" (keyup)="getmarginval($event)" #bam="ngModel" pattern="\d+(\.\d{1,6})?"
                       [class.is-invalid]="bam.dirty&&bam.invalid" placeholder="0.00">
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0" text-white>{{selectedBuyingAssetText}}</div>
                      </div>
                    </div>
                    <span class="text-danger" *ngIf="bam.dirty&&bam.invalid">Enter a valid amount</span>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">Price</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group">
                      <input type="text" class="form-control form-control-sm rounded" id="inputMarginBuyPrice"
                       [(ngModel)]="marginPrice" value="marginPrice" value="{{marginPrice}}"  placeholder="0.00" data-ng-model="marginBuyPrice"
                      ng-disabled="!limit" readonly>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12 col-md-4 text-left">
                    <label for="inputBuyUSD" class="col-form-label">Total Price</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <div class="input-group mb-2">
                      <input type="text" class="form-control rounded" id="inputMarginBuyTotalPrice"
                      [(ngModel)]="marginTotalPrice"  placeholder="0.00" value="marginTotalPrice" data-ng-model="marginBuyTotalPrice"
                      value="{{marginTotalPrice}}"  ng-disabled="!limit"  readonly>
                      <div class="input-group-append">
                        <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                      </div>
                    </div>
                    <span class="onlyBuyError text-red" style="display:none;">{{errormessage}}</span>
                  </div>
                </div>
    </div>

    <div *ngIf="isLimit" >
               <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="" class="col-form-label">Amount</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group ">
                          <input type="number" class="form-control form-control-sm rounded" [(ngModel)]="marginAmount"
                            placeholder="0.00" name="lam" #lam="ngModel" (keyup)="validateLimit()"
                            required>
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="" class="col-form-label">Price</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group ">
                          <input type="number" class="form-control form-control-sm rounded" [(ngModel)]="marginPrice"
                            placeholder="0.00" name="lpr" #lpr="ngModel" (keyup)="validateLimit()"
                            required>
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="" class="col-form-label">Total Value</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group">
                          <input type="number" class="form-control form-control-sm rounded" [(ngModel)]="limitValue"
                            placeholder="0.00" readonly name="lval" [(value)]="marginPrice*marginAmount">
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>

    </div>

                <div class="form-row mb-2 ">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button type="button" class="btn btn-green onlyBuyBtn" (click)="marginBuy(); reset()">BUY</button>
                  </div>
                </div>
              <!-- <span class="onlyBuyError text-red" style="display:none;">*Orderbook depth reached, price not found </span> -->
              <span class="onlyBuyError text-red" >{{errormessage}}</span>
            </ng-template>
          </ngb-tab>


    <!-- Short sell -->

    <ngb-tab>
            <ng-template ngbTabTitle>
              <span (click)="resetBuy()">Short Sell</span>
            </ng-template>
            <ng-template ngbTabContent >
                <div class="form-row">
                    <div class="col-12 col-md-4 text-left">
                      <label for="inputBuyBTC" class="col-form-label">Order Type</label>
                    </div>
                    <div class="col-12 col-md-8">
                      <div class="input-group" style="font-size:1.5em">
                        <label class="radio-inline mx-2">
                          <input type="radio" name="optradio" value="M"  (click)="marketset(); reset()" checked>
                            Market
                         </label>
                        <label class="radio-inline mx-2">
                          <input type="radio" name="optradio" value="L"  [(ngModel)]="optradio" (click)="limitset(); reset()">
                           Limit
                        </label>
                      </div>
                    </div>
                  </div>



    <div  *ngIf="isMarket"  >

      <div class="form-row">
        <div class="col-12 col-md-4 text-left">
          <label for="inputBuyBTC" class="col-form-label">Buying Amount</label>
        </div>
        <div class="col-12 col-md-8">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm rounded"  id="inputMarginBuyAmount"
            [(ngModel)]="marginAmount" (keyup)="getmarginval($event)" #bam="ngModel" pattern="\d+(\.\d{1,6})?"
             [class.is-invalid]="bam.dirty&&bam.invalid" placeholder="0.00">
            <div class="input-group-append">
              <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
            </div>
          </div>
          <span class="text-danger" *ngIf="bam.dirty&&bam.invalid">Enter a valid amount</span>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-md-4 text-left">
          <label for="inputBuyUSD" class="col-form-label">Price</label>
        </div>
        <div class="col-12 col-md-8">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm rounded" id="inputMarginBuyPrice"
             [(ngModel)]="marginPrice" value="marginPrice" value="{{marginPrice}}"  placeholder="0.00" data-ng-model="marginBuyPrice"
            ng-disabled="!limit" readonly>
            <div class="input-group-append">
              <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-md-4 text-left">
          <label for="inputBuyUSD" class="col-form-label">Total Price</label>
        </div>
        <div class="col-12 col-md-8">
          <div class="input-group mb-2">
            <input type="text" class="form-control rounded" id="inputMarginBuyTotalPrice"
            [(ngModel)]="marginTotalPrice"  placeholder="0.00" value="marginTotalPrice" data-ng-model="marginBuyTotalPrice"
            value="{{marginTotalPrice}}"  ng-disabled="!limit"  readonly>
            <div class="input-group-append">
              <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isLimit" >
        <div class="form-row">
            <div class="col-12 col-md-4 text-left">
              <label for="" class="col-form-label">Amount</label>
            </div>
            <div class="col-12 col-md-8">
              <div class="input-group ">
                <input type="number" class="form-control form-control-sm rounded" [(ngModel)]="marginAmount"
                  placeholder="0.00" name="lam" #lam="ngModel" (keyup)="validateLimit()"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 col-md-4 text-left">
              <label for="" class="col-form-label">Price</label>
            </div>
            <div class="col-12 col-md-8">
              <div class="input-group ">
                <input type="number" class="form-control form-control-sm rounded" [(ngModel)]="marginPrice"
                  placeholder="0.00" name="lpr" #lpr="ngModel" (keyup)="validateLimit()"
                  required>
                <div class="input-group-append">
                  <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-12 col-md-4 text-left">
              <label for="" class="col-form-label">Total Value</label>
            </div>
            <div class="col-12 col-md-8">
              <div class="input-group">
                <input type="number" class="form-control form-control-sm rounded" [(ngModel)]="limitValue"
                  placeholder="0.00" readonly name="lval" [(value)]="marginPrice*marginAmount">
                <div class="input-group-append">
                  <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                </div>
              </div>
            </div>
          </div>

     </div>

                <div class="form-row mb-2 ">
                  <div class="col-12 col-md-8 offset-md-4">
                    <button type="button" class="btn btn-red onlyBuyBtn" (click)="marginSell(); reset()" >SELL</button>
                  </div>
                </div>
              <span class="onlyBuyError text-red" style="display:none;">*Orderbook depth reached, price not found </span>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
    </ngb-tab>
<!--
    <ngb-tab>
      <ng-template ngbTabTitle>
        <h5 (click)="reset()">MARGIN</h5>
      </ng-template>
      <ng-template ngbTabContent>
        <ngb-tabset type="pills">
          <ngb-tab title="Long Buy">
            <ng-template ngbTabContent>
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-4 text-left">
                          <label for="inputBuyBTC" class="col-form-label">Order Type</label>
                        </div>
                        <div class="col-12 col-md-8">
                          <div class="input-group" style="font-size:1.5em">
                              <label class="radio-inline mx-2"><input type="radio" name="optradio" checked ng-click="limit=false;"> Market </label>
                              <label class="radio-inline mx-2"><input type="radio" name="optradio" ng-click="limit=true;"> Limit</label>
                          </div>
                        </div>
                      </div>
                    <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="inputBuyBTC" class="col-form-label">Buying Amount</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group">
                          <input type="text" class="form-control form-control-sm rounded" id="inputMarginBuyAmount" placeholder="0.00" data-ng-model="marginBuyAmount" >
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="inputBuyUSD" class="col-form-label">Price</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group">
                          <input type="text" class="form-control form-control-sm rounded" id="inputMarginBuyPrice" placeholder="0.00" data-ng-model="marginBuyPrice" ng-disabled="!limit">
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="inputBuyUSD" class="col-form-label">Total Price</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group mb-2">
                          <input type="text" class="form-control rounded" id="inputMarginBuyTotalPrice" placeholder="0.00" data-ng-model="marginBuyTotalPrice" ng-disabled="!limit">
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row mb-2 ">
                      <div class="col-12 col-md-8 offset-md-4">
                        <button type="button" class="btn btn-green onlyBuyBtn" >BUY</button>
                      </div>
                    </div>
                  </form>
                  <span class="onlyBuyError text-red" style="display:none;">*Orderbook depth reached, price not found </span>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Short Sell">
            <ng-template ngbTabContent>
                <form>
                    <div class="form-row">
                        <div class="col-12 col-md-4 text-left">
                          <label for="inputBuyBTC" class="col-form-label">Order Type</label>
                        </div>
                        <div class="col-12 col-md-8">
                          <div class="input-group" style="font-size:1.5em">
                              <label class="radio-inline mx-2"><input type="radio" name="optradio" checked ng-click="limit=false;"> Market </label>
                              <label class="radio-inline mx-2"><input type="radio" name="optradio" ng-click="limit=true;"> Limit</label>
                          </div>
                        </div>
                      </div>
                    <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="inputBuyBTC" class="col-form-label">Buying Amount</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group">
                          <input type="text" class="form-control form-control-sm rounded" id="inputMarginBuyAmount" placeholder="0.00" data-ng-model="marginBuyAmount" >
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedBuyingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="inputBuyUSD" class="col-form-label">Price</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group">
                          <input type="text" class="form-control form-control-sm rounded" id="inputMarginBuyPrice" placeholder="0.00" data-ng-model="marginBuyPrice" ng-disabled="!limit">
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 col-md-4 text-left">
                        <label for="inputBuyUSD" class="col-form-label">Total Price</label>
                      </div>
                      <div class="col-12 col-md-8">
                        <div class="input-group mb-2">
                          <input type="text" class="form-control rounded" id="inputMarginBuyTotalPrice" placeholder="0.00" data-ng-model="marginBuyTotalPrice" ng-disabled="!limit">
                          <div class="input-group-append">
                            <div class="input-group-text bg-transparent border-0 text-white">{{selectedSellingAssetText}}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row mb-2 ">
                      <div class="col-12 col-md-8 offset-md-4">
                        <button type="button" class="btn btn-red onlyBuyBtn" >SELL</button>
                      </div>
                    </div>
                  </form>
                  <span class="onlyBuyError text-red" style="display:none;">*Orderbook depth reached, price not found </span>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
    </ngb-tab> -->


  </ngb-tabset>
  <!-- experiment -->
</div>
<!-- <div class="row d-flex mt-3 text-center">
  <div class="col-12 col-sm-6 pr-sm-2">
    <div class="bg-dark p-2 rounded"> <span class="text-blue">{{selectedBuyingAssetText | uppercase}} BALANCE</span>
      <div class="w-100 mb-2"></div>
      <span class="font-md text-white">{{selelectedBuyingAssetBalance}}<small> {{selectedBuyingAssetText | uppercase}}</small></span>
      <div class="w-100"></div>
      <div class="btn-group btn-group-sm mb-2 mt-2" role="group">
        <a routerLink="/my-wallet"><button type="button" class="btn btn-sm bg-black text-white font-xs mr-1 deposit-withdraw-btn">SEND</button></a>
        <a routerLink="/my-wallet"><button type="button" class="btn btn-sm bg-black text-white font-xs ml-1 deposit-withdraw-btn">RECEIVE</button></a>

      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 pl-sm-2 mt-3 mt-sm-0">
    <div class="bg-dark p-2 rounded"> <span class="text-blue">{{selectedSellingAssetText | uppercase}} BALANCE</span>
      <div class="w-100 mb-2"></div>
      <span class="font-md text-white">{{selelectedSellingAssetBalance}}<small> {{selectedSellingAssetText |
          uppercase}}</small></span>
      <div class="w-100"></div>
      <div class="btn-group btn-group-sm mb-2 mt-2" role="group">
        <a routerLink="/deposit-funds"><button type="button" class="btn btn-sm bg-black text-white font-xs mr-1 deposit-withdraw-btn">DEPOSIT</button></a>
        <a routerLink="/withdraw-funds"><button type="button" class="btn btn-sm bg-black text-white font-xs ml-1 deposit-withdraw-btn">WITHDRAW</button></a>
      </div>
    </div>
  </div>
</div> -->

<div class="row d-flex mt-3 text-center">
  <div class="col-12 col-sm-6 pr-sm-2">
    <div class="bg_new_class bg-dark btc-balance p-2 rounded"> <span class="text-blue">{{selectedBuyingAssetText | uppercase}} BALANCE</span>
      <div class="w-100 mb-2"></div>
      <span class="font-md">{{selelectedBuyingAssetBalance}}<small> {{selectedBuyingAssetText | uppercase}}</small></span>
      <div class="w-100"></div>
      <div class="btn-group btn-group-sm mb-2 mt-2" role="group">
        <a routerLink="/my-wallet"><button type="button" class="btn btn-sm bg-black font-xs mr-1 deposit-withdraw-btn">SEND</button></a>
        <a routerLink="/my-wallet"><button type="button" class="btn btn-sm bg-black font-xs ml-1 deposit-withdraw-btn">RECEIVE</button></a>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 pl-sm-2 mt-3 mt-sm-0">
    <div class="bg_new_class bg-dark btc-balance p-2 rounded"> <span class="text-blue">{{selectedSellingAssetText | uppercase}} BALANCE</span>
      <div class="w-100 mb-2"></div>
      <span class="font-md ">{{selelectedSellingAssetBalance}}<small> {{selectedSellingAssetText |
          uppercase}}</small></span>
      <div class="w-100"></div>
      <div *ngIf="valid">
        <div class="btn-group btn-group-sm mb-2 mt-2" role="group">
          <a routerLink="/deposit-funds"><button type="button" class="btn btn-sm bg-black font-xs mr-1 deposit-withdraw-btn">DEPOSIT</button></a>
          <a routerLink="/withdraw-funds"><button type="button" class="btn btn-sm bg-black font-xs ml-1 deposit-withdraw-btn">WITHDRAW</button></a>
        </div>
      </div>
      <div *ngIf="!valid">
        <div class="btn-group btn-group-sm mb-2 mt-2" role="group">
          <a routerLink="/my-wallet"><button type="button" class="btn btn-sm bg-black font-xs mr-1 deposit-withdraw-btn">SEND</button></a>
          <a routerLink="/my-wallet"><button type="button" class="btn btn-sm bg-black font-xs ml-1 deposit-withdraw-btn">RECEIVE</button></a>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Warning</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-danger">Please note - you will not be able to place offers without valid KYC.
      Please upload relevant documents. If you think you are seeing as an error, please send an email to
      contactus@paybito.com with subject line - "KYC Request".</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">Ok</button>
  </div>
</ng-template>
