.form-control:active{
    border: 1px solid cornflowerblue;
}

.resizable-widget{
    min-height: 300px !important;
    border:1px solid #a5a5a5;
}
.btc-balance{
    background-color: #181d2b !important;
}
.text-white{
    color: #96979a !important;
}
