<div class="container">
  <div class="card card-login mx-auto mt-3">
      <div class="card-header text-center text-blue bg-pbgreen"><img src="{{data.logo}}" alt=""></div>
        <div class="card-header text-center text-blue p-0">
          <h5 class="p-3 mb-0" style="color: #86bbb8;font-size: 18px;font-weight: lighter;">{{data.exchange|uppercase}} FORGOT-PASSWORD</h5>
        </div>

   <!-- new -->
   <div class="card-body p-3">
    <!-- <form name="login_form" data-ng-controller="formCtrl" id="login_form" data-ng-submit="forgotPassword(login_form.$valid)" novalidate> -->
      <div class="form-group">
        <label for="forgotpasswordInputPassword">Email</label>
        <input class="form-control" id="forgotpasswordInputPassword" [(ngModel)]="email" type="email" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="forgotpasswordInputNewPassword">New Password</label>
        <input class="form-control" id="forgotpasswordInputNewPassword" [(ngModel)]="password" type="password" placeholder="Type New Password" required pattern=".{8,}" #pass="ngModel" [class.is-invalid]="pass.invalid&&pass.dirty">
      </div>
       <div class="form-group">
        <label for="forgotpasswordInputRetypeNewPassword">Retype New Password</label>
        <input class="form-control" id="forgotpasswordInputRetypeNewPassword" [(ngModel)]="repassword" type="password" placeholder="Retype New Password" data-ng-keyup="confirmPassword()" required pattern=".{8,}" #pass2="ngModel" [class.is-invalid]="pass2.invalid&&pass2.dirty&&password!=repassword" >
        <span class="confirm_password_text"></span>
      </div>
      <div class="form-group">
        <label for="forgotpasswordInputSecureToken">Secure Token</label>
        <input class="form-control" id="forgotpasswordInputSecureToken" [(ngModel)]="secure_token" type="password" placeholder="Secure Token" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block submit_btn" (click)="forgotPassword(true)">Change Password</button>
    <!-- </form> -->

    <div class="col-12 mt-3 text-center"><a routerLink="/signup">Create an Account</a></div>
  </div>
   <!-- new -->
  </div>
</div>
