<app-navbar></app-navbar>
<app-loader></app-loader>
<div class="content-wrapper pt-0 pl-3">

  <div class="row d-flex" data-ng-init="loginDuration();" data-ng-controller="settingCtrl">
    <div class="col-lg-7 col-12 mt-3 align-self-stretch" data-ng-init="getUserAppSetting()">
      <div class="bg-dark p-2 rounded h-100"> <span class="font-md text-white mr-2 pl-3">Digital Terminal Settings</span>
        <div class="w-100"></div>

        <ul class="list-group mt-3">
          <div class="col-12 col-lg-5 mb-2 text-white ">2 Factor Authentication</div>
          <li class="list-group-item bg-transparent">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-5 mb-2">Log In</div>
              <div class="col-12 col-lg-7">
                <div class="custom-switch custom-switch-label-onoff">
                  <div class="well">
                    <i class="fa fa-toggle-on active" *ngIf="(twoFactorStatus==1)" (click)="changeStatusFor2FactorAuth(authCode);"></i>
                    <i class="fa fa-toggle-on fa-rotate-180 inactive" *ngIf="(twoFactorStatus==0)" (click)="changeStatusFor2FactorAuth(authCode);"></i>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- <li class="list-group-item bg-transparent">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-5 mb-2">Outgoing Transactions</div>
              <div class="col-12 col-lg-7" *ngIf="twoFactorStatus==1">
                <div class="custom-switch custom-switch-label-onoff">
                  <div class="well outgoingTransactionWell">
                    <i class="fa fa-toggle-on twoFactorTrueEffect active" *ngIf="lockOutgoingTransactionStatus == 1"
                      (click)="changeStatusForLockOutgoingTransaction();"></i>
                    <i class="fa fa-toggle-on fa-rotate-180 twoFactorTrueEffect inactive" *ngIf="lockOutgoingTransactionStatus == 0"
                      (click)="changeStatusForLockOutgoingTransaction();"></i>
                    <i class="fa fa-toggle-on fa-rotate-180 twoFactorFalseEffect inactive" *ngIf="lockOutgoingTransactionStatus == 0"
                      style="display:none;"></i>
                  </div>
                </div>
              </div>
            </div>
          </li> -->
          <li class="list-group-item bg-transparent">
            <button class="btn btn-sm btn-success" (click)="passModal(passChange)">Change Password</button>
          </li>
        </ul>
      </div>
    </div>
    <!-- CHANGE PASSWORD Modal-->
    <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changepasswordModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-blue" id="changepasswordModalLabel">Change Password</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="changePasswordForm" name="changePaswordForm" data-ng-submit="changePassword(changePaswordForm.$valid)"
              autocomplete="off" novalidate>
              <div class="form-row">
                <div class="col-4 text-right">
                  <label for="inputoldpassword" class="col-form-label">Old Password</label>
                </div>
                <div class="col-8">
                  <input type="password" class="form-control" id="inputoldpassword" name="oldPassword" data-ng-model="oldPassword"
                    placeholder="Old Password" required>
                </div>
              </div>
              <div class="form-row mt-2">
                <div class="col-4 text-right">
                  <label for="inputnewpassword" class="col-form-label">New Password</label>
                </div>
                <div class="col-8">
                  <input type="password" class="form-control" id="inputnewpassword" name="newPassword" data-ng-model="newPassword"
                    placeholder="New Password" data-ng-keyup="matchPassword()" required>
                </div>
              </div>
              <div class="form-row mt-2">
                <div class="col-4 text-right">
                  <label for="inputretype-newpassword" class="col-form-label">Retype New Password</label>
                </div>
                <div class="col-8">
                  <input type="password" class="form-control" id="inputretype-newpassword" name="retypePassword"
                    data-ng-model="retypePassword" placeholder="Retype New Password" data-ng-keyup="matchPassword()"
                    required>
                  <small class="match_error"></small>
                </div>
              </div>

              <div class="form-row mt-2 mb-2">
                <div class="col-8 offset-4">
                  <button type="submit" class="btn btn-green generate_password_otp_btn" disabled>CHANGE PASSWORD</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>



  </div>


</div>

<!-- qr modal -->
<ng-template #authCode let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Google Authentication</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="p-3" id="qrcd">
      <qrcode [qrdata]="twoFactorAuthKey" [size]="256" [level]="'M'"></qrcode>
    </div>
    <form>
      <input type="text" class="form-control" [(ngModel)]="google_auth_otp" name="otp" placeholder="Google Authentication Code"
        autofocus autocomplete="off">
      <button type="submit" class="btn btn-success m-3" (click)="sendGoogleAuthOtp(); modal.close();">Submit</button>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<!-- change password modal -->
<ng-template #passChange let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="form-group row">
      <div class="col-md-4 text-right">Old Password</div>
      <div class="col-md-8"><input type="password" class="form-control" [(ngModel)]="oldPassword" placeholder="Old Password"></div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 text-right">New Password</div>
      <div class="col-md-8"><input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="New Password"></div>
    </div>
    <div class="form-group row">
      <div class="col-md-4 text-right">Confirm New Password</div>
      <div class="col-md-8"><input type="password" class="form-control" [(ngModel)]="retypePassword" (keyup)="matchPassword()"
          placeholder="Confirm New Password"></div>
    </div>
    <small class="match_error"></small>
    <div class="form-group row">
      <div class="col-md-4"></div>
      <div class="col-md-8 text-left">
        <button class="btn btn-success" (click)="changePassword(true); modal.close();" *ngIf="match">
          Change Password
        </button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
